In [14]:
import pandas as pd
filename='/home/aadebuger/GEXTMAC/ethereum1t/etldata/transactions.csv'
tv = pd.read_csv(filename)

In [11]:
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://{}:{}@{}/{}".format('root', '', 'localhost:4000', 'testexample'))
con = engine.connect()

print("test1")

test1

In [12]:
print(len(tv))
l=0
r=500
length =len(tv)
while(l<length):
    tv[l:r].to_sql(name='transcation', con=con, if_exists='append', index=False,chunksize=1000)
    print("to_sql ok",l)
    l+=500
    r+=500

504708
to_sql ok 0
to_sql ok 100
to_sql ok 200
to_sql ok 300
to_sql ok 400
to_sql ok 500
to_sql ok 600
to_sql ok 700
to_sql ok 800
to_sql ok 900
to_sql ok 1000
to_sql ok 1100
to_sql ok 1200
to_sql ok 1300
to_sql ok 1400
to_sql ok 1500
to_sql ok 1600
to_sql ok 1700
to_sql ok 1800
to_sql ok 1900
to_sql ok 2000
to_sql ok 2100
to_sql ok 2200
to_sql ok 2300
to_sql ok 2400
to_sql ok 2500
to_sql ok 2600
to_sql ok 2700
to_sql ok 2800
to_sql ok 2900
to_sql ok 3000
to_sql ok 3100
to_sql ok 3200
to_sql ok 3300
to_sql ok 3400
to_sql ok 3500
to_sql ok 3600
to_sql ok 3700
to_sql ok 3800
to_sql ok 3900
to_sql ok 4000
to_sql ok 4100
to_sql ok 4200
to_sql ok 4300
to_sql ok 4400
to_sql ok 4500

KeyboardInterrupt:

In [15]:
print(len(tv))
l=0
r=l+500
length =len(tv)
del tv['input']
while(l<length):
    tv[l:r].to_sql(name='transcation', con=con, if_exists='append', index=False,chunksize=1000)
    print("to_sql ok",l)
    l+=500
    r+=500
    if r>=length:
        r=length

504708
to_sql ok 0
to_sql ok 500
to_sql ok 1000
to_sql ok 1500
to_sql ok 2000
to_sql ok 2500
to_sql ok 3000
to_sql ok 3500
to_sql ok 4000
to_sql ok 4500
to_sql ok 5000
to_sql ok 5500
to_sql ok 6000
to_sql ok 6500
to_sql ok 7000
to_sql ok 7500
to_sql ok 8000
to_sql ok 8500
to_sql ok 9000
to_sql ok 9500
to_sql ok 10000
to_sql ok 10500
to_sql ok 11000
to_sql ok 11500
to_sql ok 12000
to_sql ok 12500
to_sql ok 13000
to_sql ok 13500
to_sql ok 14000
to_sql ok 14500
to_sql ok 15000
to_sql ok 15500
to_sql ok 16000
to_sql ok 16500
to_sql ok 17000
to_sql ok 17500
to_sql ok 18000
to_sql ok 18500
to_sql ok 19000
to_sql ok 19500
to_sql ok 20000
to_sql ok 20500
to_sql ok 21000
to_sql ok 21500
to_sql ok 22000
to_sql ok 22500
to_sql ok 23000
to_sql ok 23500
to_sql ok 24000
to_sql ok 24500
to_sql ok 25000
to_sql ok 25500
to_sql ok 26000
to_sql ok 26500
to_sql ok 27000
to_sql ok 27500
to_sql ok 28000
to_sql ok 28500
to_sql ok 29000
to_sql ok 29500
to_sql ok 30000
to_sql ok 30500
to_sql ok 31000
to_sql ok 31500
to_sql ok 32000
to_sql ok 32500
to_sql ok 33000
to_sql ok 33500
to_sql ok 34000
to_sql ok 34500
to_sql ok 35000
to_sql ok 35500
to_sql ok 36000
to_sql ok 36500
to_sql ok 37000
to_sql ok 37500
to_sql ok 38000
to_sql ok 38500
to_sql ok 39000
to_sql ok 39500
to_sql ok 40000
to_sql ok 40500
to_sql ok 41000
to_sql ok 41500
to_sql ok 42000
to_sql ok 42500
to_sql ok 43000
to_sql ok 43500
to_sql ok 44000
to_sql ok 44500
to_sql ok 45000
to_sql ok 45500
to_sql ok 46000
to_sql ok 46500
to_sql ok 47000
to_sql ok 47500
to_sql ok 48000
to_sql ok 48500
to_sql ok 49000
to_sql ok 49500
to_sql ok 50000
to_sql ok 50500
to_sql ok 51000
to_sql ok 51500
to_sql ok 52000
to_sql ok 52500
to_sql ok 53000
to_sql ok 53500
to_sql ok 54000
to_sql ok 54500
to_sql ok 55000
to_sql ok 55500
to_sql ok 56000
to_sql ok 56500
to_sql ok 57000
to_sql ok 57500
to_sql ok 58000
to_sql ok 58500
to_sql ok 59000
to_sql ok 59500
to_sql ok 60000
to_sql ok 60500
to_sql ok 61000
to_sql ok 61500
to_sql ok 62000
to_sql ok 62500
to_sql ok 63000
to_sql ok 63500
to_sql ok 64000
to_sql ok 64500
to_sql ok 65000
to_sql ok 65500
to_sql ok 66000
to_sql ok 66500
to_sql ok 67000
to_sql ok 67500
to_sql ok 68000
to_sql ok 68500
to_sql ok 69000
to_sql ok 69500
to_sql ok 70000
to_sql ok 70500
to_sql ok 71000
to_sql ok 71500
to_sql ok 72000
to_sql ok 72500
to_sql ok 73000
to_sql ok 73500
to_sql ok 74000
to_sql ok 74500
to_sql ok 75000
to_sql ok 75500
to_sql ok 76000
to_sql ok 76500
to_sql ok 77000
to_sql ok 77500
to_sql ok 78000
to_sql ok 78500
to_sql ok 79000
to_sql ok 79500
to_sql ok 80000
to_sql ok 80500
to_sql ok 81000
to_sql ok 81500
to_sql ok 82000
to_sql ok 82500
to_sql ok 83000
to_sql ok 83500
to_sql ok 84000
to_sql ok 84500
to_sql ok 85000
to_sql ok 85500
to_sql ok 86000
to_sql ok 86500
to_sql ok 87000
to_sql ok 87500
to_sql ok 88000
to_sql ok 88500
to_sql ok 89000
to_sql ok 89500
to_sql ok 90000
to_sql ok 90500
to_sql ok 91000
to_sql ok 91500
to_sql ok 92000
to_sql ok 92500
to_sql ok 93000
to_sql ok 93500
to_sql ok 94000
to_sql ok 94500
to_sql ok 95000
to_sql ok 95500
to_sql ok 96000
to_sql ok 96500
to_sql ok 97000
to_sql ok 97500
to_sql ok 98000
to_sql ok 98500
to_sql ok 99000
to_sql ok 99500
to_sql ok 100000
to_sql ok 100500
to_sql ok 101000
to_sql ok 101500
to_sql ok 102000
to_sql ok 102500
to_sql ok 103000
to_sql ok 103500
to_sql ok 104000
to_sql ok 104500
to_sql ok 105000
to_sql ok 105500
to_sql ok 106000
to_sql ok 106500
to_sql ok 107000
to_sql ok 107500
to_sql ok 108000
to_sql ok 108500
to_sql ok 109000
to_sql ok 109500
to_sql ok 110000
to_sql ok 110500
to_sql ok 111000
to_sql ok 111500
to_sql ok 112000
to_sql ok 112500
to_sql ok 113000
to_sql ok 113500
to_sql ok 114000
to_sql ok 114500
to_sql ok 115000
to_sql ok 115500
to_sql ok 116000
to_sql ok 116500
to_sql ok 117000
to_sql ok 117500
to_sql ok 118000
to_sql ok 118500
to_sql ok 119000
to_sql ok 119500
to_sql ok 120000
to_sql ok 120500
to_sql ok 121000
to_sql ok 121500
to_sql ok 122000
to_sql ok 122500
to_sql ok 123000
to_sql ok 123500
to_sql ok 124000
to_sql ok 124500
to_sql ok 125000
to_sql ok 125500
to_sql ok 126000
to_sql ok 126500
to_sql ok 127000
to_sql ok 127500
to_sql ok 128000
to_sql ok 128500
to_sql ok 129000
to_sql ok 129500
to_sql ok 130000
to_sql ok 130500
to_sql ok 131000
to_sql ok 131500
to_sql ok 132000
to_sql ok 132500
to_sql ok 133000
to_sql ok 133500
to_sql ok 134000
to_sql ok 134500
to_sql ok 135000
to_sql ok 135500
to_sql ok 136000
to_sql ok 136500
to_sql ok 137000
to_sql ok 137500
to_sql ok 138000
to_sql ok 138500
to_sql ok 139000
to_sql ok 139500
to_sql ok 140000
to_sql ok 140500
to_sql ok 141000
to_sql ok 141500
to_sql ok 142000
to_sql ok 142500
to_sql ok 143000
to_sql ok 143500
to_sql ok 144000
to_sql ok 144500
to_sql ok 145000
to_sql ok 145500
to_sql ok 146000
to_sql ok 146500
to_sql ok 147000
to_sql ok 147500
to_sql ok 148000
to_sql ok 148500
to_sql ok 149000
to_sql ok 149500
to_sql ok 150000
to_sql ok 150500
to_sql ok 151000
to_sql ok 151500
to_sql ok 152000
to_sql ok 152500
to_sql ok 153000
to_sql ok 153500
to_sql ok 154000
to_sql ok 154500
to_sql ok 155000
to_sql ok 155500
to_sql ok 156000
to_sql ok 156500
to_sql ok 157000
to_sql ok 157500
to_sql ok 158000
to_sql ok 158500
to_sql ok 159000
to_sql ok 159500
to_sql ok 160000
to_sql ok 160500
to_sql ok 161000
to_sql ok 161500
to_sql ok 162000
to_sql ok 162500
to_sql ok 163000
to_sql ok 163500
to_sql ok 164000
to_sql ok 164500
to_sql ok 165000
to_sql ok 165500
to_sql ok 166000
to_sql ok 166500
to_sql ok 167000
to_sql ok 167500
to_sql ok 168000
to_sql ok 168500
to_sql ok 169000
to_sql ok 169500
to_sql ok 170000
to_sql ok 170500
to_sql ok 171000
to_sql ok 171500
to_sql ok 172000
to_sql ok 172500
to_sql ok 173000
to_sql ok 173500
to_sql ok 174000
to_sql ok 174500
to_sql ok 175000
to_sql ok 175500
to_sql ok 176000
to_sql ok 176500
to_sql ok 177000
to_sql ok 177500
to_sql ok 178000
to_sql ok 178500
to_sql ok 179000
to_sql ok 179500
to_sql ok 180000
to_sql ok 180500
to_sql ok 181000
to_sql ok 181500
to_sql ok 182000
to_sql ok 182500
to_sql ok 183000
to_sql ok 183500
to_sql ok 184000
to_sql ok 184500
to_sql ok 185000
to_sql ok 185500
to_sql ok 186000
to_sql ok 186500
to_sql ok 187000
to_sql ok 187500
to_sql ok 188000
to_sql ok 188500
to_sql ok 189000
to_sql ok 189500
to_sql ok 190000
to_sql ok 190500
to_sql ok 191000
to_sql ok 191500
to_sql ok 192000
to_sql ok 192500
to_sql ok 193000
to_sql ok 193500
to_sql ok 194000
to_sql ok 194500
to_sql ok 195000
to_sql ok 195500
to_sql ok 196000
to_sql ok 196500
to_sql ok 197000
to_sql ok 197500
to_sql ok 198000
to_sql ok 198500
to_sql ok 199000
to_sql ok 199500
to_sql ok 200000
to_sql ok 200500
to_sql ok 201000
to_sql ok 201500
to_sql ok 202000
to_sql ok 202500
to_sql ok 203000
to_sql ok 203500
to_sql ok 204000
to_sql ok 204500
to_sql ok 205000
to_sql ok 205500
to_sql ok 206000
to_sql ok 206500
to_sql ok 207000
to_sql ok 207500
to_sql ok 208000
to_sql ok 208500
to_sql ok 209000
to_sql ok 209500
to_sql ok 210000
to_sql ok 210500
to_sql ok 211000
to_sql ok 211500
to_sql ok 212000
to_sql ok 212500
to_sql ok 213000
to_sql ok 213500
to_sql ok 214000
to_sql ok 214500
to_sql ok 215000
to_sql ok 215500
to_sql ok 216000
to_sql ok 216500
to_sql ok 217000
to_sql ok 217500
to_sql ok 218000
to_sql ok 218500
to_sql ok 219000
to_sql ok 219500
to_sql ok 220000
to_sql ok 220500
to_sql ok 221000
to_sql ok 221500
to_sql ok 222000
to_sql ok 222500
to_sql ok 223000
to_sql ok 223500
to_sql ok 224000
to_sql ok 224500
to_sql ok 225000
to_sql ok 225500
to_sql ok 226000
to_sql ok 226500
to_sql ok 227000
to_sql ok 227500
to_sql ok 228000
to_sql ok 228500
to_sql ok 229000
to_sql ok 229500
to_sql ok 230000
to_sql ok 230500
to_sql ok 231000
to_sql ok 231500
to_sql ok 232000
to_sql ok 232500
to_sql ok 233000
to_sql ok 233500
to_sql ok 234000
to_sql ok 234500
to_sql ok 235000
to_sql ok 235500
to_sql ok 236000
to_sql ok 236500
to_sql ok 237000
to_sql ok 237500
to_sql ok 238000
to_sql ok 238500
to_sql ok 239000
to_sql ok 239500
to_sql ok 240000
to_sql ok 240500
to_sql ok 241000
to_sql ok 241500
to_sql ok 242000
to_sql ok 242500
to_sql ok 243000
to_sql ok 243500
to_sql ok 244000
to_sql ok 244500
to_sql ok 245000
to_sql ok 245500
to_sql ok 246000
to_sql ok 246500
to_sql ok 247000

to_sql ok 247500
to_sql ok 248000
to_sql ok 248500
to_sql ok 249000
to_sql ok 249500
to_sql ok 250000
to_sql ok 250500
to_sql ok 251000
to_sql ok 251500
to_sql ok 252000
to_sql ok 252500
to_sql ok 253000
to_sql ok 253500
to_sql ok 254000
to_sql ok 254500
to_sql ok 255000
to_sql ok 255500
to_sql ok 256000
to_sql ok 256500
to_sql ok 257000
to_sql ok 257500
to_sql ok 258000
to_sql ok 258500
to_sql ok 259000
to_sql ok 259500
to_sql ok 260000
to_sql ok 260500
to_sql ok 261000
to_sql ok 261500
to_sql ok 262000
to_sql ok 262500
to_sql ok 263000
to_sql ok 263500
to_sql ok 264000
to_sql ok 264500
to_sql ok 265000
to_sql ok 265500
to_sql ok 266000
to_sql ok 266500
to_sql ok 267000
to_sql ok 267500
to_sql ok 268000
to_sql ok 268500
to_sql ok 269000
to_sql ok 269500
to_sql ok 270000
to_sql ok 270500
to_sql ok 271000
to_sql ok 271500
to_sql ok 272000
to_sql ok 272500
to_sql ok 273000
to_sql ok 273500
to_sql ok 274000
to_sql ok 274500
to_sql ok 275000
to_sql ok 275500
to_sql ok 276000
to_sql ok 276500
to_sql ok 277000
to_sql ok 277500
to_sql ok 278000
to_sql ok 278500
to_sql ok 279000
to_sql ok 279500
to_sql ok 280000
to_sql ok 280500
to_sql ok 281000
to_sql ok 281500
to_sql ok 282000
to_sql ok 282500
to_sql ok 283000
to_sql ok 283500
to_sql ok 284000
to_sql ok 284500
to_sql ok 285000
to_sql ok 285500
to_sql ok 286000
to_sql ok 286500
to_sql ok 287000
to_sql ok 287500
to_sql ok 288000
to_sql ok 288500
to_sql ok 289000
to_sql ok 289500
to_sql ok 290000
to_sql ok 290500
to_sql ok 291000
to_sql ok 291500
to_sql ok 292000
to_sql ok 292500
to_sql ok 293000
to_sql ok 293500
to_sql ok 294000
to_sql ok 294500
to_sql ok 295000
to_sql ok 295500
to_sql ok 296000
to_sql ok 296500
to_sql ok 297000
to_sql ok 297500
to_sql ok 298000
to_sql ok 298500
to_sql ok 299000
to_sql ok 299500
to_sql ok 300000
to_sql ok 300500
to_sql ok 301000
to_sql ok 301500
to_sql ok 302000
to_sql ok 302500
to_sql ok 303000
to_sql ok 303500
to_sql ok 304000
to_sql ok 304500
to_sql ok 305000
to_sql ok 305500
to_sql ok 306000
to_sql ok 306500
to_sql ok 307000
to_sql ok 307500
to_sql ok 308000
to_sql ok 308500
to_sql ok 309000
to_sql ok 309500
to_sql ok 310000
to_sql ok 310500
to_sql ok 311000
to_sql ok 311500
to_sql ok 312000
to_sql ok 312500
to_sql ok 313000
to_sql ok 313500
to_sql ok 314000
to_sql ok 314500
to_sql ok 315000
to_sql ok 315500
to_sql ok 316000
to_sql ok 316500
to_sql ok 317000
to_sql ok 317500
to_sql ok 318000
to_sql ok 318500
to_sql ok 319000
to_sql ok 319500
to_sql ok 320000
to_sql ok 320500
to_sql ok 321000
to_sql ok 321500
to_sql ok 322000
to_sql ok 322500
to_sql ok 323000
to_sql ok 323500
to_sql ok 324000
to_sql ok 324500
to_sql ok 325000
to_sql ok 325500
to_sql ok 326000
to_sql ok 326500
to_sql ok 327000
to_sql ok 327500
to_sql ok 328000
to_sql ok 328500
to_sql ok 329000
to_sql ok 329500
to_sql ok 330000
to_sql ok 330500
to_sql ok 331000
to_sql ok 331500
to_sql ok 332000
to_sql ok 332500
to_sql ok 333000
to_sql ok 333500
to_sql ok 334000
to_sql ok 334500
to_sql ok 335000
to_sql ok 335500
to_sql ok 336000
to_sql ok 336500
to_sql ok 337000
to_sql ok 337500
to_sql ok 338000
to_sql ok 338500
to_sql ok 339000
to_sql ok 339500
to_sql ok 340000
to_sql ok 340500
to_sql ok 341000
to_sql ok 341500
to_sql ok 342000
to_sql ok 342500
to_sql ok 343000
to_sql ok 343500
to_sql ok 344000
to_sql ok 344500
to_sql ok 345000
to_sql ok 345500
to_sql ok 346000
to_sql ok 346500
to_sql ok 347000
to_sql ok 347500
to_sql ok 348000
to_sql ok 348500
to_sql ok 349000
to_sql ok 349500
to_sql ok 350000
to_sql ok 350500
to_sql ok 351000
to_sql ok 351500
to_sql ok 352000
to_sql ok 352500
to_sql ok 353000
to_sql ok 353500
to_sql ok 354000
to_sql ok 354500
to_sql ok 355000
to_sql ok 355500
to_sql ok 356000
to_sql ok 356500
to_sql ok 357000
to_sql ok 357500
to_sql ok 358000
to_sql ok 358500
to_sql ok 359000
to_sql ok 359500
to_sql ok 360000
to_sql ok 360500
to_sql ok 361000
to_sql ok 361500
to_sql ok 362000
to_sql ok 362500
to_sql ok 363000
to_sql ok 363500
to_sql ok 364000
to_sql ok 364500
to_sql ok 365000
to_sql ok 365500
to_sql ok 366000
to_sql ok 366500
to_sql ok 367000
to_sql ok 367500
to_sql ok 368000
to_sql ok 368500
to_sql ok 369000
to_sql ok 369500
to_sql ok 370000
to_sql ok 370500
to_sql ok 371000
to_sql ok 371500
to_sql ok 372000
to_sql ok 372500
to_sql ok 373000
to_sql ok 373500
to_sql ok 374000
to_sql ok 374500
to_sql ok 375000
to_sql ok 375500
to_sql ok 376000
to_sql ok 376500
to_sql ok 377000
to_sql ok 377500
to_sql ok 378000
to_sql ok 378500
to_sql ok 379000
to_sql ok 379500
to_sql ok 380000
to_sql ok 380500
to_sql ok 381000
to_sql ok 381500
to_sql ok 382000
to_sql ok 382500
to_sql ok 383000
to_sql ok 383500
to_sql ok 384000
to_sql ok 384500
to_sql ok 385000
to_sql ok 385500
to_sql ok 386000
to_sql ok 386500
to_sql ok 387000
to_sql ok 387500
to_sql ok 388000
to_sql ok 388500
to_sql ok 389000
to_sql ok 389500
to_sql ok 390000
to_sql ok 390500
to_sql ok 391000
to_sql ok 391500
to_sql ok 392000
to_sql ok 392500
to_sql ok 393000
to_sql ok 393500
to_sql ok 394000
to_sql ok 394500
to_sql ok 395000
to_sql ok 395500
to_sql ok 396000
to_sql ok 396500
to_sql ok 397000
to_sql ok 397500
to_sql ok 398000
to_sql ok 398500
to_sql ok 399000
to_sql ok 399500
to_sql ok 400000
to_sql ok 400500
to_sql ok 401000
to_sql ok 401500
to_sql ok 402000
to_sql ok 402500
to_sql ok 403000
to_sql ok 403500
to_sql ok 404000
to_sql ok 404500
to_sql ok 405000
to_sql ok 405500
to_sql ok 406000
to_sql ok 406500
to_sql ok 407000
to_sql ok 407500
to_sql ok 408000
to_sql ok 408500
to_sql ok 409000
to_sql ok 409500
to_sql ok 410000
to_sql ok 410500
to_sql ok 411000
to_sql ok 411500
to_sql ok 412000
to_sql ok 412500
to_sql ok 413000
to_sql ok 413500
to_sql ok 414000
to_sql ok 414500
to_sql ok 415000
to_sql ok 415500
to_sql ok 416000
to_sql ok 416500
to_sql ok 417000
to_sql ok 417500
to_sql ok 418000
to_sql ok 418500
to_sql ok 419000
to_sql ok 419500
to_sql ok 420000
to_sql ok 420500
to_sql ok 421000
to_sql ok 421500
to_sql ok 422000
to_sql ok 422500
to_sql ok 423000
to_sql ok 423500
to_sql ok 424000
to_sql ok 424500
to_sql ok 425000
to_sql ok 425500
to_sql ok 426000
to_sql ok 426500
to_sql ok 427000
to_sql ok 427500
to_sql ok 428000
to_sql ok 428500
to_sql ok 429000
to_sql ok 429500
to_sql ok 430000
to_sql ok 430500
to_sql ok 431000
to_sql ok 431500
to_sql ok 432000
to_sql ok 432500
to_sql ok 433000
to_sql ok 433500
to_sql ok 434000
to_sql ok 434500
to_sql ok 435000
to_sql ok 435500
to_sql ok 436000
to_sql ok 436500
to_sql ok 437000
to_sql ok 437500
to_sql ok 438000
to_sql ok 438500
to_sql ok 439000
to_sql ok 439500
to_sql ok 440000
to_sql ok 440500
to_sql ok 441000
to_sql ok 441500
to_sql ok 442000
to_sql ok 442500
to_sql ok 443000
to_sql ok 443500
to_sql ok 444000
to_sql ok 444500
to_sql ok 445000
to_sql ok 445500
to_sql ok 446000
to_sql ok 446500
to_sql ok 447000
to_sql ok 447500
to_sql ok 448000
to_sql ok 448500
to_sql ok 449000
to_sql ok 449500
to_sql ok 450000
to_sql ok 450500
to_sql ok 451000
to_sql ok 451500
to_sql ok 452000
to_sql ok 452500
to_sql ok 453000
to_sql ok 453500
to_sql ok 454000
to_sql ok 454500
to_sql ok 455000
to_sql ok 455500
to_sql ok 456000
to_sql ok 456500
to_sql ok 457000
to_sql ok 457500
to_sql ok 458000
to_sql ok 458500
to_sql ok 459000
to_sql ok 459500
to_sql ok 460000
to_sql ok 460500
to_sql ok 461000
to_sql ok 461500
to_sql ok 462000
to_sql ok 462500
to_sql ok 463000
to_sql ok 463500
to_sql ok 464000
to_sql ok 464500
to_sql ok 465000
to_sql ok 465500
to_sql ok 466000
to_sql ok 466500
to_sql ok 467000
to_sql ok 467500
to_sql ok 468000
to_sql ok 468500
to_sql ok 469000
to_sql ok 469500
to_sql ok 470000
to_sql ok 470500
to_sql ok 471000
to_sql ok 471500
to_sql ok 472000
to_sql ok 472500
to_sql ok 473000
to_sql ok 473500
to_sql ok 474000
to_sql ok 474500
to_sql ok 475000
to_sql ok 475500
to_sql ok 476000
to_sql ok 476500
to_sql ok 477000
to_sql ok 477500
to_sql ok 478000
to_sql ok 478500
to_sql ok 479000
to_sql ok 479500
to_sql ok 480000
to_sql ok 480500
to_sql ok 481000
to_sql ok 481500
to_sql ok 482000
to_sql ok 482500
to_sql ok 483000
to_sql ok 483500
to_sql ok 484000
to_sql ok 484500
to_sql ok 485000
to_sql ok 485500
to_sql ok 486000
to_sql ok 486500
to_sql ok 487000
to_sql ok 487500
to_sql ok 488000

to_sql ok 488500
to_sql ok 489000
to_sql ok 489500
to_sql ok 490000
to_sql ok 490500
to_sql ok 491000
to_sql ok 491500
to_sql ok 492000
to_sql ok 492500
to_sql ok 493000
to_sql ok 493500
to_sql ok 494000
to_sql ok 494500
to_sql ok 495000
to_sql ok 495500
to_sql ok 496000
to_sql ok 496500
to_sql ok 497000
to_sql ok 497500
to_sql ok 498000
to_sql ok 498500
to_sql ok 499000
to_sql ok 499500
to_sql ok 500000
to_sql ok 500500
to_sql ok 501000
to_sql ok 501500
to_sql ok 502000
to_sql ok 502500
to_sql ok 503000
to_sql ok 503500
to_sql ok 504000
to_sql ok 504500

In [16]:
filename='/home/aadebuger/GEXTMAC/ethereum1t/etldata/transactions500001.csv'
tv = pd.read_csv(filename)

In [20]:
def outputDb(con,tv):
    print(len(tv))
    l=0
    r=l+2000
    length =len(tv)
    del tv['input']
    while(l<length):
        tv[l:r].to_sql(name='transcation', con=con, if_exists='append', index=False,chunksize=1000)
        print("to_sql ok",l)
        l+=2000
        r+=2000
        if r>=length:
            r=length

In [19]:
outputDb(con,tv)

1169556
to_sql ok 0
to_sql ok 500
to_sql ok 1000
to_sql ok 1500
to_sql ok 2000
to_sql ok 2500
to_sql ok 3000
to_sql ok 3500
to_sql ok 4000
to_sql ok 4500
to_sql ok 5000
to_sql ok 5500
to_sql ok 6000
to_sql ok 6500
to_sql ok 7000
to_sql ok 7500
to_sql ok 8000
to_sql ok 8500
to_sql ok 9000
to_sql ok 9500
to_sql ok 10000
to_sql ok 10500
to_sql ok 11000
to_sql ok 11500
to_sql ok 12000
to_sql ok 12500
to_sql ok 13000
to_sql ok 13500
to_sql ok 14000
to_sql ok 14500
to_sql ok 15000
to_sql ok 15500
to_sql ok 16000
to_sql ok 16500
to_sql ok 17000
to_sql ok 17500
to_sql ok 18000
to_sql ok 18500
to_sql ok 19000
to_sql ok 19500
to_sql ok 20000
to_sql ok 20500
to_sql ok 21000
to_sql ok 21500
to_sql ok 22000
to_sql ok 22500
to_sql ok 23000
to_sql ok 23500
to_sql ok 24000
to_sql ok 24500
to_sql ok 25000
to_sql ok 25500
to_sql ok 26000
to_sql ok 26500
to_sql ok 27000
to_sql ok 27500
to_sql ok 28000
to_sql ok 28500
to_sql ok 29000
to_sql ok 29500
to_sql ok 30000
to_sql ok 30500
to_sql ok 31000
to_sql ok 31500
to_sql ok 32000
to_sql ok 32500
to_sql ok 33000
to_sql ok 33500
to_sql ok 34000
to_sql ok 34500
to_sql ok 35000
to_sql ok 35500
to_sql ok 36000
to_sql ok 36500
to_sql ok 37000
to_sql ok 37500
to_sql ok 38000
to_sql ok 38500
to_sql ok 39000
to_sql ok 39500
to_sql ok 40000
to_sql ok 40500
to_sql ok 41000
to_sql ok 41500
to_sql ok 42000
to_sql ok 42500
to_sql ok 43000
to_sql ok 43500
to_sql ok 44000
to_sql ok 44500
to_sql ok 45000
to_sql ok 45500
to_sql ok 46000
to_sql ok 46500
to_sql ok 47000
to_sql ok 47500
to_sql ok 48000
to_sql ok 48500
to_sql ok 49000
to_sql ok 49500
to_sql ok 50000
to_sql ok 50500
to_sql ok 51000
to_sql ok 51500
to_sql ok 52000
to_sql ok 52500
to_sql ok 53000
to_sql ok 53500
to_sql ok 54000
to_sql ok 54500
to_sql ok 55000
to_sql ok 55500
to_sql ok 56000
to_sql ok 56500
to_sql ok 57000
to_sql ok 57500
to_sql ok 58000
to_sql ok 58500
to_sql ok 59000
to_sql ok 59500
to_sql ok 60000
to_sql ok 60500
to_sql ok 61000
to_sql ok 61500
to_sql ok 62000
to_sql ok 62500
to_sql ok 63000
to_sql ok 63500
to_sql ok 64000
to_sql ok 64500
to_sql ok 65000
to_sql ok 65500
to_sql ok 66000
to_sql ok 66500
to_sql ok 67000
to_sql ok 67500
to_sql ok 68000
to_sql ok 68500
to_sql ok 69000
to_sql ok 69500
to_sql ok 70000
to_sql ok 70500
to_sql ok 71000
to_sql ok 71500
to_sql ok 72000
to_sql ok 72500
to_sql ok 73000
to_sql ok 73500
to_sql ok 74000
to_sql ok 74500
to_sql ok 75000
to_sql ok 75500
to_sql ok 76000
to_sql ok 76500
to_sql ok 77000
to_sql ok 77500
to_sql ok 78000
to_sql ok 78500
to_sql ok 79000
to_sql ok 79500
to_sql ok 80000
to_sql ok 80500
to_sql ok 81000
to_sql ok 81500
to_sql ok 82000
to_sql ok 82500
to_sql ok 83000
to_sql ok 83500
to_sql ok 84000
to_sql ok 84500
to_sql ok 85000
to_sql ok 85500
to_sql ok 86000
to_sql ok 86500
to_sql ok 87000
to_sql ok 87500
to_sql ok 88000
to_sql ok 88500
to_sql ok 89000
to_sql ok 89500
to_sql ok 90000
to_sql ok 90500
to_sql ok 91000
to_sql ok 91500
to_sql ok 92000
to_sql ok 92500
to_sql ok 93000
to_sql ok 93500
to_sql ok 94000
to_sql ok 94500
to_sql ok 95000
to_sql ok 95500
to_sql ok 96000
to_sql ok 96500
to_sql ok 97000
to_sql ok 97500
to_sql ok 98000
to_sql ok 98500
to_sql ok 99000
to_sql ok 99500
to_sql ok 100000
to_sql ok 100500
to_sql ok 101000
to_sql ok 101500
to_sql ok 102000
to_sql ok 102500
to_sql ok 103000
to_sql ok 103500
to_sql ok 104000
to_sql ok 104500
to_sql ok 105000
to_sql ok 105500
to_sql ok 106000
to_sql ok 106500
to_sql ok 107000
to_sql ok 107500
to_sql ok 108000
to_sql ok 108500
to_sql ok 109000
to_sql ok 109500
to_sql ok 110000
to_sql ok 110500
to_sql ok 111000
to_sql ok 111500
to_sql ok 112000
to_sql ok 112500
to_sql ok 113000
to_sql ok 113500
to_sql ok 114000
to_sql ok 114500
to_sql ok 115000
to_sql ok 115500
to_sql ok 116000
to_sql ok 116500
to_sql ok 117000
to_sql ok 117500
to_sql ok 118000
to_sql ok 118500
to_sql ok 119000
to_sql ok 119500
to_sql ok 120000
to_sql ok 120500
to_sql ok 121000
to_sql ok 121500
to_sql ok 122000
to_sql ok 122500
to_sql ok 123000
to_sql ok 123500
to_sql ok 124000
to_sql ok 124500
to_sql ok 125000
to_sql ok 125500
to_sql ok 126000
to_sql ok 126500
to_sql ok 127000
to_sql ok 127500
to_sql ok 128000
to_sql ok 128500
to_sql ok 129000
to_sql ok 129500
to_sql ok 130000
to_sql ok 130500
to_sql ok 131000
to_sql ok 131500
to_sql ok 132000
to_sql ok 132500
to_sql ok 133000
to_sql ok 133500
to_sql ok 134000
to_sql ok 134500
to_sql ok 135000
to_sql ok 135500
to_sql ok 136000
to_sql ok 136500
to_sql ok 137000
to_sql ok 137500
to_sql ok 138000
to_sql ok 138500
to_sql ok 139000
to_sql ok 139500
to_sql ok 140000
to_sql ok 140500
to_sql ok 141000
to_sql ok 141500
to_sql ok 142000
to_sql ok 142500
to_sql ok 143000
to_sql ok 143500
to_sql ok 144000
to_sql ok 144500
to_sql ok 145000
to_sql ok 145500
to_sql ok 146000
to_sql ok 146500
to_sql ok 147000
to_sql ok 147500
to_sql ok 148000
to_sql ok 148500
to_sql ok 149000
to_sql ok 149500
to_sql ok 150000
to_sql ok 150500
to_sql ok 151000
to_sql ok 151500
to_sql ok 152000
to_sql ok 152500
to_sql ok 153000
to_sql ok 153500
to_sql ok 154000
to_sql ok 154500
to_sql ok 155000
to_sql ok 155500
to_sql ok 156000
to_sql ok 156500
to_sql ok 157000
to_sql ok 157500
to_sql ok 158000
to_sql ok 158500
to_sql ok 159000
to_sql ok 159500
to_sql ok 160000
to_sql ok 160500
to_sql ok 161000
to_sql ok 161500
to_sql ok 162000
to_sql ok 162500
to_sql ok 163000
to_sql ok 163500
to_sql ok 164000
to_sql ok 164500
to_sql ok 165000
to_sql ok 165500
to_sql ok 166000
to_sql ok 166500
to_sql ok 167000
to_sql ok 167500
to_sql ok 168000
to_sql ok 168500
to_sql ok 169000
to_sql ok 169500
to_sql ok 170000
to_sql ok 170500
to_sql ok 171000
to_sql ok 171500
to_sql ok 172000
to_sql ok 172500
to_sql ok 173000
to_sql ok 173500
to_sql ok 174000
to_sql ok 174500
to_sql ok 175000
to_sql ok 175500
to_sql ok 176000
to_sql ok 176500
to_sql ok 177000
to_sql ok 177500
to_sql ok 178000
to_sql ok 178500
to_sql ok 179000
to_sql ok 179500
to_sql ok 180000
to_sql ok 180500
to_sql ok 181000
to_sql ok 181500
to_sql ok 182000
to_sql ok 182500
to_sql ok 183000
to_sql ok 183500
to_sql ok 184000
to_sql ok 184500
to_sql ok 185000
to_sql ok 185500
to_sql ok 186000
to_sql ok 186500
to_sql ok 187000
to_sql ok 187500
to_sql ok 188000
to_sql ok 188500
to_sql ok 189000
to_sql ok 189500
to_sql ok 190000
to_sql ok 190500
to_sql ok 191000
to_sql ok 191500
to_sql ok 192000
to_sql ok 192500
to_sql ok 193000
to_sql ok 193500
to_sql ok 194000
to_sql ok 194500
to_sql ok 195000
to_sql ok 195500
to_sql ok 196000
to_sql ok 196500
to_sql ok 197000
to_sql ok 197500
to_sql ok 198000
to_sql ok 198500
to_sql ok 199000
to_sql ok 199500
to_sql ok 200000
to_sql ok 200500
to_sql ok 201000
to_sql ok 201500
to_sql ok 202000
to_sql ok 202500
to_sql ok 203000
to_sql ok 203500
to_sql ok 204000
to_sql ok 204500
to_sql ok 205000
to_sql ok 205500
to_sql ok 206000
to_sql ok 206500
to_sql ok 207000
to_sql ok 207500
to_sql ok 208000
to_sql ok 208500
to_sql ok 209000
to_sql ok 209500
to_sql ok 210000
to_sql ok 210500
to_sql ok 211000
to_sql ok 211500
to_sql ok 212000
to_sql ok 212500
to_sql ok 213000
to_sql ok 213500
to_sql ok 214000
to_sql ok 214500
to_sql ok 215000
to_sql ok 215500
to_sql ok 216000
to_sql ok 216500
to_sql ok 217000
to_sql ok 217500
to_sql ok 218000
to_sql ok 218500
to_sql ok 219000
to_sql ok 219500
to_sql ok 220000
to_sql ok 220500
to_sql ok 221000
to_sql ok 221500
to_sql ok 222000
to_sql ok 222500
to_sql ok 223000
to_sql ok 223500
to_sql ok 224000
to_sql ok 224500
to_sql ok 225000
to_sql ok 225500
to_sql ok 226000
to_sql ok 226500
to_sql ok 227000
to_sql ok 227500
to_sql ok 228000
to_sql ok 228500
to_sql ok 229000
to_sql ok 229500
to_sql ok 230000
to_sql ok 230500
to_sql ok 231000
to_sql ok 231500
to_sql ok 232000
to_sql ok 232500
to_sql ok 233000
to_sql ok 233500
to_sql ok 234000
to_sql ok 234500
to_sql ok 235000
to_sql ok 235500
to_sql ok 236000
to_sql ok 236500
to_sql ok 237000
to_sql ok 237500
to_sql ok 238000
to_sql ok 238500
to_sql ok 239000
to_sql ok 239500
to_sql ok 240000
to_sql ok 240500
to_sql ok 241000
to_sql ok 241500
to_sql ok 242000
to_sql ok 242500
to_sql ok 243000
to_sql ok 243500
to_sql ok 244000
to_sql ok 244500
to_sql ok 245000
to_sql ok 245500
to_sql ok 246000
to_sql ok 246500
to_sql ok 247000

to_sql ok 247500
to_sql ok 248000
to_sql ok 248500
to_sql ok 249000
to_sql ok 249500
to_sql ok 250000
to_sql ok 250500
to_sql ok 251000
to_sql ok 251500
to_sql ok 252000
to_sql ok 252500
to_sql ok 253000
to_sql ok 253500
to_sql ok 254000
to_sql ok 254500
to_sql ok 255000
to_sql ok 255500
to_sql ok 256000
to_sql ok 256500
to_sql ok 257000
to_sql ok 257500
to_sql ok 258000
to_sql ok 258500
to_sql ok 259000
to_sql ok 259500
to_sql ok 260000
to_sql ok 260500
to_sql ok 261000
to_sql ok 261500
to_sql ok 262000
to_sql ok 262500
to_sql ok 263000
to_sql ok 263500
to_sql ok 264000
to_sql ok 264500
to_sql ok 265000
to_sql ok 265500
to_sql ok 266000
to_sql ok 266500
to_sql ok 267000
to_sql ok 267500
to_sql ok 268000
to_sql ok 268500
to_sql ok 269000
to_sql ok 269500
to_sql ok 270000
to_sql ok 270500
to_sql ok 271000
to_sql ok 271500
to_sql ok 272000
to_sql ok 272500
to_sql ok 273000
to_sql ok 273500
to_sql ok 274000
to_sql ok 274500
to_sql ok 275000
to_sql ok 275500
to_sql ok 276000
to_sql ok 276500
to_sql ok 277000
to_sql ok 277500
to_sql ok 278000
to_sql ok 278500
to_sql ok 279000
to_sql ok 279500
to_sql ok 280000
to_sql ok 280500
to_sql ok 281000
to_sql ok 281500
to_sql ok 282000
to_sql ok 282500
to_sql ok 283000
to_sql ok 283500
to_sql ok 284000
to_sql ok 284500
to_sql ok 285000
to_sql ok 285500
to_sql ok 286000
to_sql ok 286500
to_sql ok 287000
to_sql ok 287500
to_sql ok 288000
to_sql ok 288500
to_sql ok 289000
to_sql ok 289500
to_sql ok 290000
to_sql ok 290500
to_sql ok 291000
to_sql ok 291500
to_sql ok 292000
to_sql ok 292500
to_sql ok 293000
to_sql ok 293500
to_sql ok 294000
to_sql ok 294500
to_sql ok 295000
to_sql ok 295500
to_sql ok 296000
to_sql ok 296500
to_sql ok 297000
to_sql ok 297500
to_sql ok 298000
to_sql ok 298500
to_sql ok 299000
to_sql ok 299500
to_sql ok 300000
to_sql ok 300500
to_sql ok 301000
to_sql ok 301500
to_sql ok 302000
to_sql ok 302500
to_sql ok 303000
to_sql ok 303500
to_sql ok 304000
to_sql ok 304500
to_sql ok 305000
to_sql ok 305500
to_sql ok 306000
to_sql ok 306500
to_sql ok 307000
to_sql ok 307500
to_sql ok 308000
to_sql ok 308500
to_sql ok 309000
to_sql ok 309500
to_sql ok 310000
to_sql ok 310500
to_sql ok 311000
to_sql ok 311500
to_sql ok 312000
to_sql ok 312500
to_sql ok 313000
to_sql ok 313500
to_sql ok 314000
to_sql ok 314500
to_sql ok 315000
to_sql ok 315500
to_sql ok 316000
to_sql ok 316500
to_sql ok 317000
to_sql ok 317500
to_sql ok 318000
to_sql ok 318500
to_sql ok 319000
to_sql ok 319500
to_sql ok 320000
to_sql ok 320500
to_sql ok 321000
to_sql ok 321500
to_sql ok 322000
to_sql ok 322500
to_sql ok 323000
to_sql ok 323500
to_sql ok 324000
to_sql ok 324500
to_sql ok 325000
to_sql ok 325500
to_sql ok 326000
to_sql ok 326500
to_sql ok 327000
to_sql ok 327500
to_sql ok 328000
to_sql ok 328500
to_sql ok 329000
to_sql ok 329500
to_sql ok 330000
to_sql ok 330500
to_sql ok 331000
to_sql ok 331500
to_sql ok 332000
to_sql ok 332500
to_sql ok 333000
to_sql ok 333500
to_sql ok 334000
to_sql ok 334500
to_sql ok 335000
to_sql ok 335500
to_sql ok 336000
to_sql ok 336500
to_sql ok 337000
to_sql ok 337500
to_sql ok 338000
to_sql ok 338500
to_sql ok 339000
to_sql ok 339500
to_sql ok 340000
to_sql ok 340500
to_sql ok 341000
to_sql ok 341500
to_sql ok 342000
to_sql ok 342500
to_sql ok 343000
to_sql ok 343500
to_sql ok 344000
to_sql ok 344500
to_sql ok 345000
to_sql ok 345500
to_sql ok 346000
to_sql ok 346500
to_sql ok 347000
to_sql ok 347500
to_sql ok 348000
to_sql ok 348500
to_sql ok 349000
to_sql ok 349500
to_sql ok 350000
to_sql ok 350500
to_sql ok 351000
to_sql ok 351500
to_sql ok 352000
to_sql ok 352500
to_sql ok 353000
to_sql ok 353500
to_sql ok 354000
to_sql ok 354500
to_sql ok 355000
to_sql ok 355500
to_sql ok 356000
to_sql ok 356500
to_sql ok 357000
to_sql ok 357500
to_sql ok 358000
to_sql ok 358500
to_sql ok 359000
to_sql ok 359500
to_sql ok 360000
to_sql ok 360500
to_sql ok 361000
to_sql ok 361500
to_sql ok 362000
to_sql ok 362500
to_sql ok 363000
to_sql ok 363500
to_sql ok 364000
to_sql ok 364500
to_sql ok 365000
to_sql ok 365500
to_sql ok 366000
to_sql ok 366500
to_sql ok 367000
to_sql ok 367500
to_sql ok 368000
to_sql ok 368500
to_sql ok 369000
to_sql ok 369500
to_sql ok 370000
to_sql ok 370500
to_sql ok 371000
to_sql ok 371500
to_sql ok 372000
to_sql ok 372500
to_sql ok 373000
to_sql ok 373500
to_sql ok 374000
to_sql ok 374500
to_sql ok 375000
to_sql ok 375500
to_sql ok 376000
to_sql ok 376500
to_sql ok 377000
to_sql ok 377500
to_sql ok 378000
to_sql ok 378500
to_sql ok 379000
to_sql ok 379500
to_sql ok 380000
to_sql ok 380500
to_sql ok 381000
to_sql ok 381500
to_sql ok 382000
to_sql ok 382500
to_sql ok 383000
to_sql ok 383500
to_sql ok 384000
to_sql ok 384500
to_sql ok 385000
to_sql ok 385500
to_sql ok 386000
to_sql ok 386500
to_sql ok 387000
to_sql ok 387500
to_sql ok 388000
to_sql ok 388500
to_sql ok 389000
to_sql ok 389500
to_sql ok 390000
to_sql ok 390500
to_sql ok 391000
to_sql ok 391500
to_sql ok 392000
to_sql ok 392500
to_sql ok 393000
to_sql ok 393500
to_sql ok 394000
to_sql ok 394500
to_sql ok 395000
to_sql ok 395500
to_sql ok 396000
to_sql ok 396500
to_sql ok 397000
to_sql ok 397500
to_sql ok 398000
to_sql ok 398500
to_sql ok 399000
to_sql ok 399500
to_sql ok 400000
to_sql ok 400500
to_sql ok 401000
to_sql ok 401500
to_sql ok 402000
to_sql ok 402500
to_sql ok 403000
to_sql ok 403500
to_sql ok 404000
to_sql ok 404500
to_sql ok 405000
to_sql ok 405500
to_sql ok 406000
to_sql ok 406500
to_sql ok 407000
to_sql ok 407500
to_sql ok 408000
to_sql ok 408500
to_sql ok 409000
to_sql ok 409500
to_sql ok 410000
to_sql ok 410500
to_sql ok 411000
to_sql ok 411500
to_sql ok 412000
to_sql ok 412500
to_sql ok 413000
to_sql ok 413500
to_sql ok 414000
to_sql ok 414500
to_sql ok 415000
to_sql ok 415500
to_sql ok 416000
to_sql ok 416500
to_sql ok 417000
to_sql ok 417500
to_sql ok 418000
to_sql ok 418500
to_sql ok 419000
to_sql ok 419500
to_sql ok 420000
to_sql ok 420500
to_sql ok 421000
to_sql ok 421500
to_sql ok 422000
to_sql ok 422500
to_sql ok 423000
to_sql ok 423500
to_sql ok 424000
to_sql ok 424500
to_sql ok 425000
to_sql ok 425500
to_sql ok 426000
to_sql ok 426500
to_sql ok 427000
to_sql ok 427500
to_sql ok 428000
to_sql ok 428500
to_sql ok 429000
to_sql ok 429500
to_sql ok 430000
to_sql ok 430500
to_sql ok 431000
to_sql ok 431500
to_sql ok 432000
to_sql ok 432500
to_sql ok 433000
to_sql ok 433500
to_sql ok 434000
to_sql ok 434500
to_sql ok 435000
to_sql ok 435500
to_sql ok 436000
to_sql ok 436500
to_sql ok 437000
to_sql ok 437500
to_sql ok 438000
to_sql ok 438500
to_sql ok 439000
to_sql ok 439500
to_sql ok 440000
to_sql ok 440500
to_sql ok 441000
to_sql ok 441500
to_sql ok 442000
to_sql ok 442500
to_sql ok 443000
to_sql ok 443500
to_sql ok 444000
to_sql ok 444500
to_sql ok 445000
to_sql ok 445500
to_sql ok 446000
to_sql ok 446500
to_sql ok 447000
to_sql ok 447500
to_sql ok 448000
to_sql ok 448500
to_sql ok 449000
to_sql ok 449500
to_sql ok 450000
to_sql ok 450500
to_sql ok 451000
to_sql ok 451500
to_sql ok 452000
to_sql ok 452500
to_sql ok 453000
to_sql ok 453500
to_sql ok 454000
to_sql ok 454500
to_sql ok 455000
to_sql ok 455500
to_sql ok 456000
to_sql ok 456500
to_sql ok 457000
to_sql ok 457500
to_sql ok 458000
to_sql ok 458500
to_sql ok 459000
to_sql ok 459500
to_sql ok 460000
to_sql ok 460500
to_sql ok 461000
to_sql ok 461500
to_sql ok 462000
to_sql ok 462500
to_sql ok 463000
to_sql ok 463500
to_sql ok 464000
to_sql ok 464500
to_sql ok 465000
to_sql ok 465500
to_sql ok 466000
to_sql ok 466500
to_sql ok 467000
to_sql ok 467500
to_sql ok 468000
to_sql ok 468500
to_sql ok 469000
to_sql ok 469500
to_sql ok 470000
to_sql ok 470500
to_sql ok 471000
to_sql ok 471500
to_sql ok 472000
to_sql ok 472500
to_sql ok 473000
to_sql ok 473500
to_sql ok 474000
to_sql ok 474500
to_sql ok 475000
to_sql ok 475500
to_sql ok 476000
to_sql ok 476500
to_sql ok 477000
to_sql ok 477500
to_sql ok 478000
to_sql ok 478500
to_sql ok 479000
to_sql ok 479500
to_sql ok 480000
to_sql ok 480500
to_sql ok 481000
to_sql ok 481500
to_sql ok 482000
to_sql ok 482500
to_sql ok 483000
to_sql ok 483500
to_sql ok 484000
to_sql ok 484500
to_sql ok 485000
to_sql ok 485500
to_sql ok 486000
to_sql ok 486500
to_sql ok 487000
to_sql ok 487500
to_sql ok 488000

to_sql ok 488500
to_sql ok 489000
to_sql ok 489500
to_sql ok 490000
to_sql ok 490500
to_sql ok 491000
to_sql ok 491500
to_sql ok 492000
to_sql ok 492500
to_sql ok 493000
to_sql ok 493500
to_sql ok 494000
to_sql ok 494500
to_sql ok 495000
to_sql ok 495500
to_sql ok 496000
to_sql ok 496500
to_sql ok 497000
to_sql ok 497500
to_sql ok 498000
to_sql ok 498500
to_sql ok 499000
to_sql ok 499500
to_sql ok 500000
to_sql ok 500500
to_sql ok 501000
to_sql ok 501500
to_sql ok 502000
to_sql ok 502500
to_sql ok 503000
to_sql ok 503500
to_sql ok 504000
to_sql ok 504500
to_sql ok 505000
to_sql ok 505500
to_sql ok 506000
to_sql ok 506500
to_sql ok 507000
to_sql ok 507500
to_sql ok 508000
to_sql ok 508500
to_sql ok 509000
to_sql ok 509500
to_sql ok 510000
to_sql ok 510500
to_sql ok 511000
to_sql ok 511500
to_sql ok 512000
to_sql ok 512500
to_sql ok 513000
to_sql ok 513500
to_sql ok 514000
to_sql ok 514500
to_sql ok 515000
to_sql ok 515500
to_sql ok 516000
to_sql ok 516500
to_sql ok 517000
to_sql ok 517500
to_sql ok 518000
to_sql ok 518500
to_sql ok 519000
to_sql ok 519500
to_sql ok 520000
to_sql ok 520500
to_sql ok 521000
to_sql ok 521500
to_sql ok 522000
to_sql ok 522500
to_sql ok 523000
to_sql ok 523500
to_sql ok 524000
to_sql ok 524500
to_sql ok 525000
to_sql ok 525500
to_sql ok 526000
to_sql ok 526500
to_sql ok 527000
to_sql ok 527500
to_sql ok 528000
to_sql ok 528500
to_sql ok 529000
to_sql ok 529500
to_sql ok 530000
to_sql ok 530500
to_sql ok 531000
to_sql ok 531500
to_sql ok 532000
to_sql ok 532500
to_sql ok 533000
to_sql ok 533500
to_sql ok 534000
to_sql ok 534500
to_sql ok 535000
to_sql ok 535500
to_sql ok 536000
to_sql ok 536500
to_sql ok 537000
to_sql ok 537500
to_sql ok 538000
to_sql ok 538500
to_sql ok 539000
to_sql ok 539500
to_sql ok 540000
to_sql ok 540500
to_sql ok 541000
to_sql ok 541500
to_sql ok 542000
to_sql ok 542500
to_sql ok 543000
to_sql ok 543500
to_sql ok 544000
to_sql ok 544500
to_sql ok 545000
to_sql ok 545500
to_sql ok 546000
to_sql ok 546500
to_sql ok 547000
to_sql ok 547500
to_sql ok 548000
to_sql ok 548500
to_sql ok 549000
to_sql ok 549500
to_sql ok 550000
to_sql ok 550500
to_sql ok 551000
to_sql ok 551500
to_sql ok 552000
to_sql ok 552500
to_sql ok 553000
to_sql ok 553500
to_sql ok 554000
to_sql ok 554500
to_sql ok 555000
to_sql ok 555500
to_sql ok 556000
to_sql ok 556500
to_sql ok 557000
to_sql ok 557500
to_sql ok 558000
to_sql ok 558500
to_sql ok 559000
to_sql ok 559500
to_sql ok 560000
to_sql ok 560500
to_sql ok 561000
to_sql ok 561500
to_sql ok 562000
to_sql ok 562500
to_sql ok 563000
to_sql ok 563500
to_sql ok 564000
to_sql ok 564500
to_sql ok 565000
to_sql ok 565500
to_sql ok 566000
to_sql ok 566500
to_sql ok 567000
to_sql ok 567500
to_sql ok 568000
to_sql ok 568500
to_sql ok 569000
to_sql ok 569500
to_sql ok 570000
to_sql ok 570500
to_sql ok 571000
to_sql ok 571500
to_sql ok 572000
to_sql ok 572500
to_sql ok 573000
to_sql ok 573500
to_sql ok 574000
to_sql ok 574500
to_sql ok 575000
to_sql ok 575500
to_sql ok 576000
to_sql ok 576500
to_sql ok 577000
to_sql ok 577500
to_sql ok 578000
to_sql ok 578500
to_sql ok 579000
to_sql ok 579500
to_sql ok 580000
to_sql ok 580500
to_sql ok 581000
to_sql ok 581500
to_sql ok 582000
to_sql ok 582500
to_sql ok 583000
to_sql ok 583500
to_sql ok 584000
to_sql ok 584500
to_sql ok 585000
to_sql ok 585500
to_sql ok 586000
to_sql ok 586500
to_sql ok 587000
to_sql ok 587500
to_sql ok 588000
to_sql ok 588500
to_sql ok 589000
to_sql ok 589500
to_sql ok 590000
to_sql ok 590500
to_sql ok 591000
to_sql ok 591500
to_sql ok 592000
to_sql ok 592500
to_sql ok 593000
to_sql ok 593500
to_sql ok 594000
to_sql ok 594500
to_sql ok 595000
to_sql ok 595500
to_sql ok 596000
to_sql ok 596500
to_sql ok 597000
to_sql ok 597500
to_sql ok 598000
to_sql ok 598500
to_sql ok 599000
to_sql ok 599500
to_sql ok 600000
to_sql ok 600500
to_sql ok 601000
to_sql ok 601500
to_sql ok 602000
to_sql ok 602500
to_sql ok 603000
to_sql ok 603500
to_sql ok 604000
to_sql ok 604500
to_sql ok 605000
to_sql ok 605500
to_sql ok 606000
to_sql ok 606500
to_sql ok 607000
to_sql ok 607500
to_sql ok 608000
to_sql ok 608500
to_sql ok 609000
to_sql ok 609500
to_sql ok 610000
to_sql ok 610500
to_sql ok 611000
to_sql ok 611500
to_sql ok 612000
to_sql ok 612500
to_sql ok 613000
to_sql ok 613500
to_sql ok 614000
to_sql ok 614500
to_sql ok 615000
to_sql ok 615500
to_sql ok 616000
to_sql ok 616500
to_sql ok 617000
to_sql ok 617500
to_sql ok 618000
to_sql ok 618500
to_sql ok 619000
to_sql ok 619500
to_sql ok 620000
to_sql ok 620500
to_sql ok 621000
to_sql ok 621500
to_sql ok 622000
to_sql ok 622500
to_sql ok 623000
to_sql ok 623500
to_sql ok 624000
to_sql ok 624500
to_sql ok 625000
to_sql ok 625500
to_sql ok 626000
to_sql ok 626500
to_sql ok 627000
to_sql ok 627500
to_sql ok 628000
to_sql ok 628500
to_sql ok 629000
to_sql ok 629500
to_sql ok 630000
to_sql ok 630500
to_sql ok 631000
to_sql ok 631500
to_sql ok 632000
to_sql ok 632500
to_sql ok 633000
to_sql ok 633500
to_sql ok 634000
to_sql ok 634500
to_sql ok 635000
to_sql ok 635500
to_sql ok 636000
to_sql ok 636500
to_sql ok 637000
to_sql ok 637500
to_sql ok 638000
to_sql ok 638500
to_sql ok 639000
to_sql ok 639500
to_sql ok 640000
to_sql ok 640500
to_sql ok 641000
to_sql ok 641500
to_sql ok 642000
to_sql ok 642500
to_sql ok 643000
to_sql ok 643500
to_sql ok 644000
to_sql ok 644500
to_sql ok 645000
to_sql ok 645500
to_sql ok 646000
to_sql ok 646500
to_sql ok 647000
to_sql ok 647500
to_sql ok 648000
to_sql ok 648500
to_sql ok 649000
to_sql ok 649500
to_sql ok 650000
to_sql ok 650500
to_sql ok 651000
to_sql ok 651500
to_sql ok 652000
to_sql ok 652500
to_sql ok 653000
to_sql ok 653500
to_sql ok 654000
to_sql ok 654500
to_sql ok 655000
to_sql ok 655500
to_sql ok 656000
to_sql ok 656500
to_sql ok 657000
to_sql ok 657500
to_sql ok 658000
to_sql ok 658500
to_sql ok 659000
to_sql ok 659500
to_sql ok 660000
to_sql ok 660500
to_sql ok 661000
to_sql ok 661500
to_sql ok 662000
to_sql ok 662500
to_sql ok 663000
to_sql ok 663500
to_sql ok 664000
to_sql ok 664500
to_sql ok 665000
to_sql ok 665500
to_sql ok 666000
to_sql ok 666500
to_sql ok 667000
to_sql ok 667500
to_sql ok 668000
to_sql ok 668500
to_sql ok 669000
to_sql ok 669500
to_sql ok 670000
to_sql ok 670500
to_sql ok 671000
to_sql ok 671500
to_sql ok 672000
to_sql ok 672500
to_sql ok 673000
to_sql ok 673500
to_sql ok 674000
to_sql ok 674500
to_sql ok 675000
to_sql ok 675500
to_sql ok 676000
to_sql ok 676500
to_sql ok 677000
to_sql ok 677500
to_sql ok 678000
to_sql ok 678500
to_sql ok 679000
to_sql ok 679500
to_sql ok 680000
to_sql ok 680500
to_sql ok 681000
to_sql ok 681500
to_sql ok 682000
to_sql ok 682500
to_sql ok 683000
to_sql ok 683500
to_sql ok 684000
to_sql ok 684500
to_sql ok 685000
to_sql ok 685500
to_sql ok 686000
to_sql ok 686500
to_sql ok 687000
to_sql ok 687500
to_sql ok 688000
to_sql ok 688500
to_sql ok 689000
to_sql ok 689500
to_sql ok 690000
to_sql ok 690500
to_sql ok 691000
to_sql ok 691500
to_sql ok 692000
to_sql ok 692500
to_sql ok 693000
to_sql ok 693500
to_sql ok 694000
to_sql ok 694500
to_sql ok 695000
to_sql ok 695500
to_sql ok 696000
to_sql ok 696500
to_sql ok 697000
to_sql ok 697500
to_sql ok 698000
to_sql ok 698500
to_sql ok 699000
to_sql ok 699500
to_sql ok 700000
to_sql ok 700500
to_sql ok 701000
to_sql ok 701500
to_sql ok 702000
to_sql ok 702500
to_sql ok 703000
to_sql ok 703500
to_sql ok 704000
to_sql ok 704500
to_sql ok 705000
to_sql ok 705500
to_sql ok 706000
to_sql ok 706500
to_sql ok 707000
to_sql ok 707500
to_sql ok 708000
to_sql ok 708500
to_sql ok 709000
to_sql ok 709500
to_sql ok 710000
to_sql ok 710500
to_sql ok 711000
to_sql ok 711500
to_sql ok 712000
to_sql ok 712500
to_sql ok 713000
to_sql ok 713500
to_sql ok 714000
to_sql ok 714500
to_sql ok 715000
to_sql ok 715500
to_sql ok 716000
to_sql ok 716500
to_sql ok 717000
to_sql ok 717500
to_sql ok 718000
to_sql ok 718500
to_sql ok 719000
to_sql ok 719500
to_sql ok 720000
to_sql ok 720500
to_sql ok 721000
to_sql ok 721500
to_sql ok 722000
to_sql ok 722500
to_sql ok 723000
to_sql ok 723500
to_sql ok 724000
to_sql ok 724500
to_sql ok 725000
to_sql ok 725500
to_sql ok 726000
to_sql ok 726500
to_sql ok 727000
to_sql ok 727500
to_sql ok 728000
to_sql ok 728500
to_sql ok 729000

to_sql ok 729500
to_sql ok 730000
to_sql ok 730500
to_sql ok 731000
to_sql ok 731500
to_sql ok 732000
to_sql ok 732500
to_sql ok 733000
to_sql ok 733500
to_sql ok 734000
to_sql ok 734500
to_sql ok 735000
to_sql ok 735500
to_sql ok 736000
to_sql ok 736500
to_sql ok 737000
to_sql ok 737500
to_sql ok 738000
to_sql ok 738500
to_sql ok 739000
to_sql ok 739500
to_sql ok 740000
to_sql ok 740500
to_sql ok 741000
to_sql ok 741500
to_sql ok 742000
to_sql ok 742500
to_sql ok 743000
to_sql ok 743500
to_sql ok 744000
to_sql ok 744500
to_sql ok 745000
to_sql ok 745500
to_sql ok 746000
to_sql ok 746500
to_sql ok 747000
to_sql ok 747500
to_sql ok 748000
to_sql ok 748500
to_sql ok 749000
to_sql ok 749500
to_sql ok 750000
to_sql ok 750500
to_sql ok 751000
to_sql ok 751500
to_sql ok 752000
to_sql ok 752500
to_sql ok 753000
to_sql ok 753500
to_sql ok 754000
to_sql ok 754500
to_sql ok 755000
to_sql ok 755500
to_sql ok 756000
to_sql ok 756500
to_sql ok 757000
to_sql ok 757500
to_sql ok 758000
to_sql ok 758500
to_sql ok 759000
to_sql ok 759500
to_sql ok 760000
to_sql ok 760500
to_sql ok 761000
to_sql ok 761500
to_sql ok 762000
to_sql ok 762500
to_sql ok 763000
to_sql ok 763500
to_sql ok 764000
to_sql ok 764500
to_sql ok 765000
to_sql ok 765500
to_sql ok 766000
to_sql ok 766500
to_sql ok 767000
to_sql ok 767500
to_sql ok 768000
to_sql ok 768500
to_sql ok 769000
to_sql ok 769500
to_sql ok 770000
to_sql ok 770500
to_sql ok 771000
to_sql ok 771500
to_sql ok 772000
to_sql ok 772500
to_sql ok 773000
to_sql ok 773500
to_sql ok 774000
to_sql ok 774500
to_sql ok 775000
to_sql ok 775500
to_sql ok 776000
to_sql ok 776500
to_sql ok 777000
to_sql ok 777500
to_sql ok 778000
to_sql ok 778500
to_sql ok 779000
to_sql ok 779500
to_sql ok 780000
to_sql ok 780500
to_sql ok 781000
to_sql ok 781500
to_sql ok 782000
to_sql ok 782500
to_sql ok 783000
to_sql ok 783500
to_sql ok 784000
to_sql ok 784500
to_sql ok 785000
to_sql ok 785500
to_sql ok 786000
to_sql ok 786500
to_sql ok 787000
to_sql ok 787500
to_sql ok 788000
to_sql ok 788500
to_sql ok 789000
to_sql ok 789500
to_sql ok 790000
to_sql ok 790500
to_sql ok 791000
to_sql ok 791500
to_sql ok 792000
to_sql ok 792500
to_sql ok 793000
to_sql ok 793500
to_sql ok 794000
to_sql ok 794500
to_sql ok 795000
to_sql ok 795500
to_sql ok 796000
to_sql ok 796500
to_sql ok 797000
to_sql ok 797500
to_sql ok 798000
to_sql ok 798500
to_sql ok 799000
to_sql ok 799500
to_sql ok 800000
to_sql ok 800500
to_sql ok 801000
to_sql ok 801500
to_sql ok 802000
to_sql ok 802500
to_sql ok 803000
to_sql ok 803500
to_sql ok 804000
to_sql ok 804500
to_sql ok 805000
to_sql ok 805500
to_sql ok 806000
to_sql ok 806500
to_sql ok 807000
to_sql ok 807500
to_sql ok 808000
to_sql ok 808500
to_sql ok 809000
to_sql ok 809500
to_sql ok 810000
to_sql ok 810500
to_sql ok 811000
to_sql ok 811500
to_sql ok 812000
to_sql ok 812500
to_sql ok 813000
to_sql ok 813500
to_sql ok 814000
to_sql ok 814500
to_sql ok 815000
to_sql ok 815500
to_sql ok 816000
to_sql ok 816500
to_sql ok 817000
to_sql ok 817500
to_sql ok 818000
to_sql ok 818500
to_sql ok 819000
to_sql ok 819500
to_sql ok 820000
to_sql ok 820500
to_sql ok 821000
to_sql ok 821500
to_sql ok 822000
to_sql ok 822500
to_sql ok 823000
to_sql ok 823500
to_sql ok 824000
to_sql ok 824500
to_sql ok 825000
to_sql ok 825500
to_sql ok 826000
to_sql ok 826500
to_sql ok 827000
to_sql ok 827500
to_sql ok 828000
to_sql ok 828500
to_sql ok 829000
to_sql ok 829500
to_sql ok 830000
to_sql ok 830500
to_sql ok 831000
to_sql ok 831500
to_sql ok 832000
to_sql ok 832500
to_sql ok 833000
to_sql ok 833500
to_sql ok 834000
to_sql ok 834500
to_sql ok 835000
to_sql ok 835500
to_sql ok 836000
to_sql ok 836500
to_sql ok 837000
to_sql ok 837500
to_sql ok 838000
to_sql ok 838500
to_sql ok 839000
to_sql ok 839500
to_sql ok 840000
to_sql ok 840500
to_sql ok 841000
to_sql ok 841500
to_sql ok 842000
to_sql ok 842500
to_sql ok 843000
to_sql ok 843500
to_sql ok 844000
to_sql ok 844500
to_sql ok 845000
to_sql ok 845500
to_sql ok 846000
to_sql ok 846500
to_sql ok 847000
to_sql ok 847500
to_sql ok 848000
to_sql ok 848500
to_sql ok 849000
to_sql ok 849500
to_sql ok 850000
to_sql ok 850500
to_sql ok 851000
to_sql ok 851500
to_sql ok 852000
to_sql ok 852500
to_sql ok 853000
to_sql ok 853500
to_sql ok 854000
to_sql ok 854500
to_sql ok 855000
to_sql ok 855500
to_sql ok 856000
to_sql ok 856500
to_sql ok 857000
to_sql ok 857500
to_sql ok 858000
to_sql ok 858500
to_sql ok 859000
to_sql ok 859500
to_sql ok 860000
to_sql ok 860500
to_sql ok 861000
to_sql ok 861500
to_sql ok 862000
to_sql ok 862500
to_sql ok 863000
to_sql ok 863500
to_sql ok 864000
to_sql ok 864500
to_sql ok 865000
to_sql ok 865500
to_sql ok 866000
to_sql ok 866500
to_sql ok 867000
to_sql ok 867500
to_sql ok 868000
to_sql ok 868500
to_sql ok 869000
to_sql ok 869500
to_sql ok 870000
to_sql ok 870500
to_sql ok 871000
to_sql ok 871500
to_sql ok 872000
to_sql ok 872500
to_sql ok 873000
to_sql ok 873500
to_sql ok 874000
to_sql ok 874500
to_sql ok 875000
to_sql ok 875500
to_sql ok 876000
to_sql ok 876500
to_sql ok 877000
to_sql ok 877500
to_sql ok 878000
to_sql ok 878500
to_sql ok 879000
to_sql ok 879500
to_sql ok 880000
to_sql ok 880500
to_sql ok 881000
to_sql ok 881500
to_sql ok 882000
to_sql ok 882500
to_sql ok 883000
to_sql ok 883500
to_sql ok 884000
to_sql ok 884500
to_sql ok 885000
to_sql ok 885500
to_sql ok 886000
to_sql ok 886500
to_sql ok 887000
to_sql ok 887500
to_sql ok 888000
to_sql ok 888500
to_sql ok 889000
to_sql ok 889500
to_sql ok 890000
to_sql ok 890500
to_sql ok 891000
to_sql ok 891500
to_sql ok 892000
to_sql ok 892500
to_sql ok 893000
to_sql ok 893500
to_sql ok 894000
to_sql ok 894500
to_sql ok 895000
to_sql ok 895500
to_sql ok 896000
to_sql ok 896500
to_sql ok 897000
to_sql ok 897500
to_sql ok 898000
to_sql ok 898500
to_sql ok 899000
to_sql ok 899500
to_sql ok 900000
to_sql ok 900500
to_sql ok 901000
to_sql ok 901500
to_sql ok 902000
to_sql ok 902500
to_sql ok 903000
to_sql ok 903500
to_sql ok 904000
to_sql ok 904500
to_sql ok 905000
to_sql ok 905500
to_sql ok 906000
to_sql ok 906500
to_sql ok 907000
to_sql ok 907500
to_sql ok 908000
to_sql ok 908500
to_sql ok 909000
to_sql ok 909500
to_sql ok 910000
to_sql ok 910500
to_sql ok 911000
to_sql ok 911500
to_sql ok 912000
to_sql ok 912500
to_sql ok 913000
to_sql ok 913500
to_sql ok 914000
to_sql ok 914500
to_sql ok 915000
to_sql ok 915500
to_sql ok 916000
to_sql ok 916500
to_sql ok 917000
to_sql ok 917500
to_sql ok 918000
to_sql ok 918500
to_sql ok 919000
to_sql ok 919500
to_sql ok 920000
to_sql ok 920500
to_sql ok 921000
to_sql ok 921500
to_sql ok 922000
to_sql ok 922500
to_sql ok 923000
to_sql ok 923500
to_sql ok 924000
to_sql ok 924500
to_sql ok 925000
to_sql ok 925500
to_sql ok 926000
to_sql ok 926500
to_sql ok 927000
to_sql ok 927500
to_sql ok 928000
to_sql ok 928500
to_sql ok 929000
to_sql ok 929500
to_sql ok 930000
to_sql ok 930500
to_sql ok 931000
to_sql ok 931500
to_sql ok 932000
to_sql ok 932500
to_sql ok 933000
to_sql ok 933500
to_sql ok 934000
to_sql ok 934500
to_sql ok 935000
to_sql ok 935500
to_sql ok 936000
to_sql ok 936500
to_sql ok 937000
to_sql ok 937500
to_sql ok 938000
to_sql ok 938500
to_sql ok 939000
to_sql ok 939500
to_sql ok 940000
to_sql ok 940500
to_sql ok 941000
to_sql ok 941500
to_sql ok 942000
to_sql ok 942500
to_sql ok 943000
to_sql ok 943500
to_sql ok 944000
to_sql ok 944500
to_sql ok 945000
to_sql ok 945500
to_sql ok 946000
to_sql ok 946500
to_sql ok 947000
to_sql ok 947500
to_sql ok 948000
to_sql ok 948500
to_sql ok 949000
to_sql ok 949500
to_sql ok 950000
to_sql ok 950500
to_sql ok 951000
to_sql ok 951500
to_sql ok 952000
to_sql ok 952500
to_sql ok 953000
to_sql ok 953500
to_sql ok 954000
to_sql ok 954500
to_sql ok 955000
to_sql ok 955500
to_sql ok 956000
to_sql ok 956500
to_sql ok 957000
to_sql ok 957500
to_sql ok 958000
to_sql ok 958500
to_sql ok 959000
to_sql ok 959500
to_sql ok 960000
to_sql ok 960500
to_sql ok 961000
to_sql ok 961500
to_sql ok 962000
to_sql ok 962500
to_sql ok 963000
to_sql ok 963500
to_sql ok 964000
to_sql ok 964500
to_sql ok 965000
to_sql ok 965500
to_sql ok 966000
to_sql ok 966500
to_sql ok 967000
to_sql ok 967500
to_sql ok 968000
to_sql ok 968500
to_sql ok 969000
to_sql ok 969500
to_sql ok 970000

to_sql ok 970500
to_sql ok 971000
to_sql ok 971500
to_sql ok 972000
to_sql ok 972500
to_sql ok 973000
to_sql ok 973500
to_sql ok 974000
to_sql ok 974500
to_sql ok 975000
to_sql ok 975500
to_sql ok 976000
to_sql ok 976500
to_sql ok 977000
to_sql ok 977500
to_sql ok 978000
to_sql ok 978500
to_sql ok 979000
to_sql ok 979500
to_sql ok 980000
to_sql ok 980500
to_sql ok 981000
to_sql ok 981500
to_sql ok 982000
to_sql ok 982500
to_sql ok 983000
to_sql ok 983500
to_sql ok 984000
to_sql ok 984500
to_sql ok 985000
to_sql ok 985500
to_sql ok 986000
to_sql ok 986500
to_sql ok 987000
to_sql ok 987500
to_sql ok 988000
to_sql ok 988500
to_sql ok 989000
to_sql ok 989500
to_sql ok 990000
to_sql ok 990500
to_sql ok 991000
to_sql ok 991500
to_sql ok 992000
to_sql ok 992500
to_sql ok 993000
to_sql ok 993500
to_sql ok 994000
to_sql ok 994500
to_sql ok 995000
to_sql ok 995500
to_sql ok 996000
to_sql ok 996500
to_sql ok 997000
to_sql ok 997500
to_sql ok 998000
to_sql ok 998500
to_sql ok 999000
to_sql ok 999500
to_sql ok 1000000
to_sql ok 1000500
to_sql ok 1001000
to_sql ok 1001500
to_sql ok 1002000
to_sql ok 1002500
to_sql ok 1003000
to_sql ok 1003500
to_sql ok 1004000
to_sql ok 1004500
to_sql ok 1005000
to_sql ok 1005500
to_sql ok 1006000
to_sql ok 1006500
to_sql ok 1007000
to_sql ok 1007500
to_sql ok 1008000
to_sql ok 1008500
to_sql ok 1009000
to_sql ok 1009500
to_sql ok 1010000
to_sql ok 1010500
to_sql ok 1011000
to_sql ok 1011500
to_sql ok 1012000
to_sql ok 1012500
to_sql ok 1013000
to_sql ok 1013500
to_sql ok 1014000
to_sql ok 1014500
to_sql ok 1015000
to_sql ok 1015500
to_sql ok 1016000
to_sql ok 1016500
to_sql ok 1017000
to_sql ok 1017500
to_sql ok 1018000
to_sql ok 1018500
to_sql ok 1019000
to_sql ok 1019500
to_sql ok 1020000
to_sql ok 1020500
to_sql ok 1021000
to_sql ok 1021500
to_sql ok 1022000
to_sql ok 1022500
to_sql ok 1023000
to_sql ok 1023500
to_sql ok 1024000
to_sql ok 1024500
to_sql ok 1025000
to_sql ok 1025500
to_sql ok 1026000
to_sql ok 1026500
to_sql ok 1027000
to_sql ok 1027500
to_sql ok 1028000
to_sql ok 1028500
to_sql ok 1029000
to_sql ok 1029500
to_sql ok 1030000
to_sql ok 1030500
to_sql ok 1031000
to_sql ok 1031500
to_sql ok 1032000
to_sql ok 1032500
to_sql ok 1033000
to_sql ok 1033500
to_sql ok 1034000
to_sql ok 1034500
to_sql ok 1035000
to_sql ok 1035500
to_sql ok 1036000
to_sql ok 1036500
to_sql ok 1037000
to_sql ok 1037500
to_sql ok 1038000
to_sql ok 1038500
to_sql ok 1039000
to_sql ok 1039500
to_sql ok 1040000
to_sql ok 1040500
to_sql ok 1041000
to_sql ok 1041500
to_sql ok 1042000
to_sql ok 1042500
to_sql ok 1043000
to_sql ok 1043500
to_sql ok 1044000
to_sql ok 1044500
to_sql ok 1045000
to_sql ok 1045500
to_sql ok 1046000
to_sql ok 1046500
to_sql ok 1047000
to_sql ok 1047500
to_sql ok 1048000
to_sql ok 1048500
to_sql ok 1049000
to_sql ok 1049500
to_sql ok 1050000
to_sql ok 1050500
to_sql ok 1051000
to_sql ok 1051500
to_sql ok 1052000
to_sql ok 1052500
to_sql ok 1053000
to_sql ok 1053500
to_sql ok 1054000
to_sql ok 1054500
to_sql ok 1055000
to_sql ok 1055500
to_sql ok 1056000
to_sql ok 1056500
to_sql ok 1057000
to_sql ok 1057500
to_sql ok 1058000
to_sql ok 1058500
to_sql ok 1059000
to_sql ok 1059500
to_sql ok 1060000
to_sql ok 1060500
to_sql ok 1061000
to_sql ok 1061500
to_sql ok 1062000
to_sql ok 1062500
to_sql ok 1063000
to_sql ok 1063500
to_sql ok 1064000
to_sql ok 1064500
to_sql ok 1065000
to_sql ok 1065500
to_sql ok 1066000
to_sql ok 1066500
to_sql ok 1067000
to_sql ok 1067500
to_sql ok 1068000
to_sql ok 1068500
to_sql ok 1069000
to_sql ok 1069500
to_sql ok 1070000
to_sql ok 1070500
to_sql ok 1071000
to_sql ok 1071500
to_sql ok 1072000
to_sql ok 1072500
to_sql ok 1073000
to_sql ok 1073500
to_sql ok 1074000
to_sql ok 1074500
to_sql ok 1075000
to_sql ok 1075500
to_sql ok 1076000
to_sql ok 1076500
to_sql ok 1077000
to_sql ok 1077500
to_sql ok 1078000
to_sql ok 1078500
to_sql ok 1079000
to_sql ok 1079500
to_sql ok 1080000
to_sql ok 1080500
to_sql ok 1081000
to_sql ok 1081500
to_sql ok 1082000
to_sql ok 1082500
to_sql ok 1083000
to_sql ok 1083500
to_sql ok 1084000
to_sql ok 1084500
to_sql ok 1085000
to_sql ok 1085500
to_sql ok 1086000
to_sql ok 1086500
to_sql ok 1087000
to_sql ok 1087500
to_sql ok 1088000
to_sql ok 1088500
to_sql ok 1089000
to_sql ok 1089500
to_sql ok 1090000
to_sql ok 1090500
to_sql ok 1091000
to_sql ok 1091500
to_sql ok 1092000
to_sql ok 1092500
to_sql ok 1093000
to_sql ok 1093500
to_sql ok 1094000
to_sql ok 1094500
to_sql ok 1095000
to_sql ok 1095500
to_sql ok 1096000
to_sql ok 1096500
to_sql ok 1097000
to_sql ok 1097500
to_sql ok 1098000
to_sql ok 1098500
to_sql ok 1099000
to_sql ok 1099500
to_sql ok 1100000
to_sql ok 1100500
to_sql ok 1101000
to_sql ok 1101500
to_sql ok 1102000
to_sql ok 1102500
to_sql ok 1103000
to_sql ok 1103500
to_sql ok 1104000
to_sql ok 1104500
to_sql ok 1105000
to_sql ok 1105500
to_sql ok 1106000
to_sql ok 1106500
to_sql ok 1107000
to_sql ok 1107500
to_sql ok 1108000
to_sql ok 1108500
to_sql ok 1109000
to_sql ok 1109500
to_sql ok 1110000
to_sql ok 1110500
to_sql ok 1111000
to_sql ok 1111500
to_sql ok 1112000
to_sql ok 1112500
to_sql ok 1113000
to_sql ok 1113500
to_sql ok 1114000
to_sql ok 1114500
to_sql ok 1115000
to_sql ok 1115500
to_sql ok 1116000
to_sql ok 1116500
to_sql ok 1117000
to_sql ok 1117500
to_sql ok 1118000
to_sql ok 1118500
to_sql ok 1119000
to_sql ok 1119500
to_sql ok 1120000
to_sql ok 1120500
to_sql ok 1121000
to_sql ok 1121500
to_sql ok 1122000
to_sql ok 1122500
to_sql ok 1123000
to_sql ok 1123500
to_sql ok 1124000
to_sql ok 1124500
to_sql ok 1125000
to_sql ok 1125500
to_sql ok 1126000
to_sql ok 1126500
to_sql ok 1127000
to_sql ok 1127500
to_sql ok 1128000
to_sql ok 1128500
to_sql ok 1129000
to_sql ok 1129500
to_sql ok 1130000
to_sql ok 1130500
to_sql ok 1131000
to_sql ok 1131500
to_sql ok 1132000
to_sql ok 1132500
to_sql ok 1133000
to_sql ok 1133500
to_sql ok 1134000
to_sql ok 1134500
to_sql ok 1135000
to_sql ok 1135500
to_sql ok 1136000
to_sql ok 1136500
to_sql ok 1137000
to_sql ok 1137500
to_sql ok 1138000
to_sql ok 1138500
to_sql ok 1139000
to_sql ok 1139500
to_sql ok 1140000
to_sql ok 1140500
to_sql ok 1141000
to_sql ok 1141500
to_sql ok 1142000
to_sql ok 1142500
to_sql ok 1143000
to_sql ok 1143500
to_sql ok 1144000
to_sql ok 1144500
to_sql ok 1145000
to_sql ok 1145500
to_sql ok 1146000
to_sql ok 1146500
to_sql ok 1147000
to_sql ok 1147500
to_sql ok 1148000
to_sql ok 1148500
to_sql ok 1149000
to_sql ok 1149500
to_sql ok 1150000
to_sql ok 1150500
to_sql ok 1151000
to_sql ok 1151500
to_sql ok 1152000
to_sql ok 1152500
to_sql ok 1153000
to_sql ok 1153500
to_sql ok 1154000
to_sql ok 1154500
to_sql ok 1155000
to_sql ok 1155500
to_sql ok 1156000
to_sql ok 1156500
to_sql ok 1157000
to_sql ok 1157500
to_sql ok 1158000
to_sql ok 1158500
to_sql ok 1159000
to_sql ok 1159500
to_sql ok 1160000
to_sql ok 1160500
to_sql ok 1161000
to_sql ok 1161500
to_sql ok 1162000
to_sql ok 1162500
to_sql ok 1163000
to_sql ok 1163500
to_sql ok 1164000
to_sql ok 1164500
to_sql ok 1165000
to_sql ok 1165500
to_sql ok 1166000
to_sql ok 1166500
to_sql ok 1167000
to_sql ok 1167500
to_sql ok 1168000
to_sql ok 1168500
to_sql ok 1169000
to_sql ok 1169500

In [21]:
filename='/home/aadebuger/GEXTMAC/ethereum1t/etldata/transactions1000001.csv'
tv = pd.read_csv(filename)

In [ ]:
outputDb(con,tv)

2666887
to_sql ok 0
to_sql ok 1000
to_sql ok 2000
to_sql ok 3000
to_sql ok 4000
to_sql ok 5000
to_sql ok 6000
to_sql ok 7000
to_sql ok 8000
to_sql ok 9000
to_sql ok 10000
to_sql ok 11000
to_sql ok 12000
to_sql ok 13000
to_sql ok 14000
to_sql ok 15000
to_sql ok 16000
to_sql ok 17000
to_sql ok 18000
to_sql ok 19000
to_sql ok 20000
to_sql ok 21000
to_sql ok 22000
to_sql ok 23000
to_sql ok 24000
to_sql ok 25000
to_sql ok 26000
to_sql ok 27000
to_sql ok 28000
to_sql ok 29000
to_sql ok 30000
to_sql ok 31000
to_sql ok 32000
to_sql ok 33000
to_sql ok 34000
to_sql ok 35000
to_sql ok 36000
to_sql ok 37000
to_sql ok 38000
to_sql ok 39000
to_sql ok 40000
to_sql ok 41000
to_sql ok 42000
to_sql ok 43000
to_sql ok 44000
to_sql ok 45000
to_sql ok 46000
to_sql ok 47000
to_sql ok 48000
to_sql ok 49000
to_sql ok 50000
to_sql ok 51000
to_sql ok 52000
to_sql ok 53000
to_sql ok 54000
to_sql ok 55000
to_sql ok 56000
to_sql ok 57000
to_sql ok 58000
to_sql ok 59000
to_sql ok 60000
to_sql ok 61000
to_sql ok 62000
to_sql ok 63000
to_sql ok 64000
to_sql ok 65000
to_sql ok 66000
to_sql ok 67000
to_sql ok 68000
to_sql ok 69000
to_sql ok 70000
to_sql ok 71000
to_sql ok 72000
to_sql ok 73000
to_sql ok 74000
to_sql ok 75000
to_sql ok 76000
to_sql ok 77000
to_sql ok 78000
to_sql ok 79000
to_sql ok 80000
to_sql ok 81000
to_sql ok 82000
to_sql ok 83000
to_sql ok 84000
to_sql ok 85000
to_sql ok 86000
to_sql ok 87000
to_sql ok 88000
to_sql ok 89000
to_sql ok 90000
to_sql ok 91000
to_sql ok 92000
to_sql ok 93000
to_sql ok 94000
to_sql ok 95000
to_sql ok 96000
to_sql ok 97000
to_sql ok 98000
to_sql ok 99000
to_sql ok 100000
to_sql ok 101000
to_sql ok 102000
to_sql ok 103000
to_sql ok 104000
to_sql ok 105000
to_sql ok 106000
to_sql ok 107000
to_sql ok 108000
to_sql ok 109000
to_sql ok 110000
to_sql ok 111000
to_sql ok 112000
to_sql ok 113000
to_sql ok 114000
to_sql ok 115000
to_sql ok 116000
to_sql ok 117000
to_sql ok 118000
to_sql ok 119000
to_sql ok 120000
to_sql ok 121000
to_sql ok 122000
to_sql ok 123000
to_sql ok 124000
to_sql ok 125000
to_sql ok 126000
to_sql ok 127000
to_sql ok 128000
to_sql ok 129000
to_sql ok 130000
to_sql ok 131000
to_sql ok 132000
to_sql ok 133000
to_sql ok 134000
to_sql ok 135000
to_sql ok 136000
to_sql ok 137000
to_sql ok 138000
to_sql ok 139000
to_sql ok 140000
to_sql ok 141000
to_sql ok 142000
to_sql ok 143000
to_sql ok 144000
to_sql ok 145000
to_sql ok 146000
to_sql ok 147000
to_sql ok 148000
to_sql ok 149000
to_sql ok 150000
to_sql ok 151000
to_sql ok 152000
to_sql ok 153000
to_sql ok 154000
to_sql ok 155000
to_sql ok 156000
to_sql ok 157000
to_sql ok 158000
to_sql ok 159000
to_sql ok 160000
to_sql ok 161000
to_sql ok 162000
to_sql ok 163000
to_sql ok 164000
to_sql ok 165000
to_sql ok 166000
to_sql ok 167000
to_sql ok 168000
to_sql ok 169000
to_sql ok 170000
to_sql ok 171000
to_sql ok 172000
to_sql ok 173000
to_sql ok 174000
to_sql ok 175000
to_sql ok 176000
to_sql ok 177000
to_sql ok 178000
to_sql ok 179000
to_sql ok 180000
to_sql ok 181000
to_sql ok 182000
to_sql ok 183000
to_sql ok 184000
to_sql ok 185000
to_sql ok 186000
to_sql ok 187000
to_sql ok 188000
to_sql ok 189000
to_sql ok 190000
to_sql ok 191000
to_sql ok 192000
to_sql ok 193000
to_sql ok 194000
to_sql ok 195000
to_sql ok 196000
to_sql ok 197000
to_sql ok 198000
to_sql ok 199000
to_sql ok 200000
to_sql ok 201000
to_sql ok 202000
to_sql ok 203000
to_sql ok 204000
to_sql ok 205000
to_sql ok 206000
to_sql ok 207000
to_sql ok 208000
to_sql ok 209000
to_sql ok 210000
to_sql ok 211000
to_sql ok 212000
to_sql ok 213000
to_sql ok 214000
to_sql ok 215000
to_sql ok 216000
to_sql ok 217000
to_sql ok 218000
to_sql ok 219000
to_sql ok 220000
to_sql ok 221000
to_sql ok 222000
to_sql ok 223000
to_sql ok 224000
to_sql ok 225000
to_sql ok 226000
to_sql ok 227000
to_sql ok 228000
to_sql ok 229000
to_sql ok 230000
to_sql ok 231000
to_sql ok 232000
to_sql ok 233000
to_sql ok 234000
to_sql ok 235000
to_sql ok 236000
to_sql ok 237000
to_sql ok 238000
to_sql ok 239000
to_sql ok 240000
to_sql ok 241000
to_sql ok 242000
to_sql ok 243000
to_sql ok 244000
to_sql ok 245000
to_sql ok 246000
to_sql ok 247000
to_sql ok 248000
to_sql ok 249000
to_sql ok 250000
to_sql ok 251000
to_sql ok 252000
to_sql ok 253000
to_sql ok 254000
to_sql ok 255000
to_sql ok 256000
to_sql ok 257000
to_sql ok 258000
to_sql ok 259000
to_sql ok 260000
to_sql ok 261000
to_sql ok 262000
to_sql ok 263000
to_sql ok 264000
to_sql ok 265000
to_sql ok 266000
to_sql ok 267000
to_sql ok 268000
to_sql ok 269000
to_sql ok 270000
to_sql ok 271000
to_sql ok 272000
to_sql ok 273000
to_sql ok 274000
to_sql ok 275000
to_sql ok 276000
to_sql ok 277000
to_sql ok 278000
to_sql ok 279000
to_sql ok 280000
to_sql ok 281000
to_sql ok 282000
to_sql ok 283000
to_sql ok 284000
to_sql ok 285000
to_sql ok 286000
to_sql ok 287000
to_sql ok 288000
to_sql ok 289000
to_sql ok 290000
to_sql ok 291000
to_sql ok 292000
to_sql ok 293000
to_sql ok 294000
to_sql ok 295000
to_sql ok 296000
to_sql ok 297000
to_sql ok 298000
to_sql ok 299000
to_sql ok 300000
to_sql ok 301000
to_sql ok 302000
to_sql ok 303000
to_sql ok 304000
to_sql ok 305000
to_sql ok 306000
to_sql ok 307000
to_sql ok 308000
to_sql ok 309000
to_sql ok 310000
to_sql ok 311000
to_sql ok 312000
to_sql ok 313000
to_sql ok 314000
to_sql ok 315000
to_sql ok 316000
to_sql ok 317000
to_sql ok 318000
to_sql ok 319000
to_sql ok 320000
to_sql ok 321000
to_sql ok 322000
to_sql ok 323000
to_sql ok 324000
to_sql ok 325000
to_sql ok 326000
to_sql ok 327000
to_sql ok 328000
to_sql ok 329000
to_sql ok 330000
to_sql ok 331000
to_sql ok 332000
to_sql ok 333000
to_sql ok 334000
to_sql ok 335000
to_sql ok 336000
to_sql ok 337000
to_sql ok 338000
to_sql ok 339000
to_sql ok 340000
to_sql ok 341000
to_sql ok 342000
to_sql ok 343000
to_sql ok 344000
to_sql ok 345000
to_sql ok 346000
to_sql ok 347000
to_sql ok 348000
to_sql ok 349000
to_sql ok 350000
to_sql ok 351000
to_sql ok 352000
to_sql ok 353000
to_sql ok 354000
to_sql ok 355000
to_sql ok 356000
to_sql ok 357000
to_sql ok 358000
to_sql ok 359000
to_sql ok 360000
to_sql ok 361000
to_sql ok 362000
to_sql ok 363000
to_sql ok 364000
to_sql ok 365000
to_sql ok 366000
to_sql ok 367000
to_sql ok 368000
to_sql ok 369000
to_sql ok 370000
to_sql ok 371000
to_sql ok 372000
to_sql ok 373000
to_sql ok 374000
to_sql ok 375000
to_sql ok 376000
to_sql ok 377000
to_sql ok 378000
to_sql ok 379000
to_sql ok 380000
to_sql ok 381000
to_sql ok 382000
to_sql ok 383000
to_sql ok 384000
to_sql ok 385000
to_sql ok 386000
to_sql ok 387000
to_sql ok 388000
to_sql ok 389000
to_sql ok 390000
to_sql ok 391000
to_sql ok 392000
to_sql ok 393000
to_sql ok 394000
to_sql ok 395000
to_sql ok 396000
to_sql ok 397000
to_sql ok 398000
to_sql ok 399000
to_sql ok 400000
to_sql ok 401000
to_sql ok 402000
to_sql ok 403000
to_sql ok 404000
to_sql ok 405000
to_sql ok 406000
to_sql ok 407000
to_sql ok 408000
to_sql ok 409000
to_sql ok 410000
to_sql ok 411000
to_sql ok 412000
to_sql ok 413000
to_sql ok 414000
to_sql ok 415000
to_sql ok 416000
to_sql ok 417000
to_sql ok 418000
to_sql ok 419000
to_sql ok 420000
to_sql ok 421000
to_sql ok 422000
to_sql ok 423000
to_sql ok 424000
to_sql ok 425000
to_sql ok 426000
to_sql ok 427000
to_sql ok 428000
to_sql ok 429000
to_sql ok 430000
to_sql ok 431000
to_sql ok 432000
to_sql ok 433000
to_sql ok 434000
to_sql ok 435000
to_sql ok 436000
to_sql ok 437000
to_sql ok 438000
to_sql ok 439000
to_sql ok 440000
to_sql ok 441000
to_sql ok 442000
to_sql ok 443000
to_sql ok 444000
to_sql ok 445000
to_sql ok 446000
to_sql ok 447000
to_sql ok 448000
to_sql ok 449000
to_sql ok 450000
to_sql ok 451000
to_sql ok 452000
to_sql ok 453000
to_sql ok 454000
to_sql ok 455000
to_sql ok 456000
to_sql ok 457000
to_sql ok 458000
to_sql ok 459000
to_sql ok 460000
to_sql ok 461000
to_sql ok 462000
to_sql ok 463000
to_sql ok 464000
to_sql ok 465000
to_sql ok 466000
to_sql ok 467000
to_sql ok 468000
to_sql ok 469000
to_sql ok 470000
to_sql ok 471000
to_sql ok 472000
to_sql ok 473000
to_sql ok 474000
to_sql ok 475000
to_sql ok 476000
to_sql ok 477000
to_sql ok 478000
to_sql ok 479000
to_sql ok 480000
to_sql ok 481000
to_sql ok 482000
to_sql ok 483000
to_sql ok 484000
to_sql ok 485000
to_sql ok 486000
to_sql ok 487000
to_sql ok 488000

to_sql ok 489000
to_sql ok 490000
to_sql ok 491000
to_sql ok 492000
to_sql ok 493000
to_sql ok 494000
to_sql ok 495000
to_sql ok 496000
to_sql ok 497000
to_sql ok 498000
to_sql ok 499000
to_sql ok 500000
to_sql ok 501000
to_sql ok 502000
to_sql ok 503000
to_sql ok 504000
to_sql ok 505000
to_sql ok 506000
to_sql ok 507000
to_sql ok 508000
to_sql ok 509000
to_sql ok 510000
to_sql ok 511000
to_sql ok 512000
to_sql ok 513000
to_sql ok 514000
to_sql ok 515000
to_sql ok 516000
to_sql ok 517000
to_sql ok 518000
to_sql ok 519000
to_sql ok 520000
to_sql ok 521000
to_sql ok 522000
to_sql ok 523000
to_sql ok 524000
to_sql ok 525000
to_sql ok 526000
to_sql ok 527000
to_sql ok 528000
to_sql ok 529000
to_sql ok 530000
to_sql ok 531000
to_sql ok 532000
to_sql ok 533000
to_sql ok 534000
to_sql ok 535000
to_sql ok 536000
to_sql ok 537000
to_sql ok 538000
to_sql ok 539000
to_sql ok 540000
to_sql ok 541000
to_sql ok 542000
to_sql ok 543000
to_sql ok 544000
to_sql ok 545000
to_sql ok 546000
to_sql ok 547000
to_sql ok 548000
to_sql ok 549000
to_sql ok 550000
to_sql ok 551000
to_sql ok 552000
to_sql ok 553000
to_sql ok 554000
to_sql ok 555000
to_sql ok 556000
to_sql ok 557000
to_sql ok 558000
to_sql ok 559000
to_sql ok 560000
to_sql ok 561000
to_sql ok 562000
to_sql ok 563000
to_sql ok 564000
to_sql ok 565000
to_sql ok 566000
to_sql ok 567000
to_sql ok 568000
to_sql ok 569000
to_sql ok 570000
to_sql ok 571000
to_sql ok 572000
to_sql ok 573000
to_sql ok 574000
to_sql ok 575000
to_sql ok 576000
to_sql ok 577000
to_sql ok 578000
to_sql ok 579000
to_sql ok 580000
to_sql ok 581000
to_sql ok 582000
to_sql ok 583000
to_sql ok 584000
to_sql ok 585000
to_sql ok 586000
to_sql ok 587000
to_sql ok 588000
to_sql ok 589000
to_sql ok 590000
to_sql ok 591000
to_sql ok 592000
to_sql ok 593000
to_sql ok 594000
to_sql ok 595000
to_sql ok 596000
to_sql ok 597000
to_sql ok 598000
to_sql ok 599000
to_sql ok 600000
to_sql ok 601000
to_sql ok 602000
to_sql ok 603000
to_sql ok 604000
to_sql ok 605000
to_sql ok 606000
to_sql ok 607000
to_sql ok 608000
to_sql ok 609000
to_sql ok 610000
to_sql ok 611000
to_sql ok 612000
to_sql ok 613000
to_sql ok 614000
to_sql ok 615000
to_sql ok 616000
to_sql ok 617000
to_sql ok 618000
to_sql ok 619000
to_sql ok 620000
to_sql ok 621000
to_sql ok 622000
to_sql ok 623000
to_sql ok 624000
to_sql ok 625000
to_sql ok 626000
to_sql ok 627000
to_sql ok 628000
to_sql ok 629000
to_sql ok 630000
to_sql ok 631000
to_sql ok 632000
to_sql ok 633000
to_sql ok 634000
to_sql ok 635000
to_sql ok 636000
to_sql ok 637000
to_sql ok 638000
to_sql ok 639000
to_sql ok 640000
to_sql ok 641000
to_sql ok 642000
to_sql ok 643000
to_sql ok 644000
to_sql ok 645000
to_sql ok 646000
to_sql ok 647000
to_sql ok 648000
to_sql ok 649000
to_sql ok 650000
to_sql ok 651000
to_sql ok 652000
to_sql ok 653000
to_sql ok 654000
to_sql ok 655000
to_sql ok 656000
to_sql ok 657000
to_sql ok 658000
to_sql ok 659000
to_sql ok 660000
to_sql ok 661000
to_sql ok 662000
to_sql ok 663000
to_sql ok 664000
to_sql ok 665000
to_sql ok 666000
to_sql ok 667000
to_sql ok 668000
to_sql ok 669000
to_sql ok 670000
to_sql ok 671000
to_sql ok 672000
to_sql ok 673000
to_sql ok 674000
to_sql ok 675000
to_sql ok 676000
to_sql ok 677000
to_sql ok 678000
to_sql ok 679000
to_sql ok 680000
to_sql ok 681000
to_sql ok 682000
to_sql ok 683000
to_sql ok 684000
to_sql ok 685000
to_sql ok 686000
to_sql ok 687000
to_sql ok 688000
to_sql ok 689000
to_sql ok 690000
to_sql ok 691000
to_sql ok 692000
to_sql ok 693000
to_sql ok 694000
to_sql ok 695000
to_sql ok 696000
to_sql ok 697000
to_sql ok 698000
to_sql ok 699000
to_sql ok 700000
to_sql ok 701000
to_sql ok 702000
to_sql ok 703000
to_sql ok 704000
to_sql ok 705000
to_sql ok 706000
to_sql ok 707000
to_sql ok 708000
to_sql ok 709000
to_sql ok 710000
to_sql ok 711000
to_sql ok 712000
to_sql ok 713000
to_sql ok 714000
to_sql ok 715000
to_sql ok 716000
to_sql ok 717000
to_sql ok 718000
to_sql ok 719000
to_sql ok 720000
to_sql ok 721000
to_sql ok 722000
to_sql ok 723000
to_sql ok 724000
to_sql ok 725000
to_sql ok 726000
to_sql ok 727000
to_sql ok 728000
to_sql ok 729000
to_sql ok 730000
to_sql ok 731000
to_sql ok 732000
to_sql ok 733000
to_sql ok 734000
to_sql ok 735000
to_sql ok 736000
to_sql ok 737000
to_sql ok 738000
to_sql ok 739000
to_sql ok 740000
to_sql ok 741000
to_sql ok 742000
to_sql ok 743000
to_sql ok 744000
to_sql ok 745000
to_sql ok 746000
to_sql ok 747000
to_sql ok 748000
to_sql ok 749000
to_sql ok 750000
to_sql ok 751000
to_sql ok 752000
to_sql ok 753000
to_sql ok 754000
to_sql ok 755000
to_sql ok 756000
to_sql ok 757000
to_sql ok 758000
to_sql ok 759000
to_sql ok 760000
to_sql ok 761000
to_sql ok 762000
to_sql ok 763000
to_sql ok 764000
to_sql ok 765000
to_sql ok 766000
to_sql ok 767000
to_sql ok 768000
to_sql ok 769000
to_sql ok 770000
to_sql ok 771000
to_sql ok 772000
to_sql ok 773000
to_sql ok 774000
to_sql ok 775000
to_sql ok 776000
to_sql ok 777000
to_sql ok 778000
to_sql ok 779000
to_sql ok 780000
to_sql ok 781000
to_sql ok 782000
to_sql ok 783000
to_sql ok 784000
to_sql ok 785000
to_sql ok 786000
to_sql ok 787000
to_sql ok 788000
to_sql ok 789000
to_sql ok 790000
to_sql ok 791000
to_sql ok 792000
to_sql ok 793000
to_sql ok 794000
to_sql ok 795000
to_sql ok 796000
to_sql ok 797000
to_sql ok 798000
to_sql ok 799000
to_sql ok 800000
to_sql ok 801000
to_sql ok 802000
to_sql ok 803000
to_sql ok 804000
to_sql ok 805000
to_sql ok 806000
to_sql ok 807000
to_sql ok 808000
to_sql ok 809000
to_sql ok 810000
to_sql ok 811000
to_sql ok 812000
to_sql ok 813000
to_sql ok 814000
to_sql ok 815000
to_sql ok 816000
to_sql ok 817000
to_sql ok 818000
to_sql ok 819000
to_sql ok 820000
to_sql ok 821000
to_sql ok 822000
to_sql ok 823000
to_sql ok 824000
to_sql ok 825000
to_sql ok 826000
to_sql ok 827000
to_sql ok 828000
to_sql ok 829000
to_sql ok 830000
to_sql ok 831000
to_sql ok 832000
to_sql ok 833000
to_sql ok 834000
to_sql ok 835000
to_sql ok 836000
to_sql ok 837000
to_sql ok 838000
to_sql ok 839000
to_sql ok 840000
to_sql ok 841000
to_sql ok 842000
to_sql ok 843000
to_sql ok 844000
to_sql ok 845000
to_sql ok 846000
to_sql ok 847000
to_sql ok 848000
to_sql ok 849000
to_sql ok 850000
to_sql ok 851000
to_sql ok 852000
to_sql ok 853000
to_sql ok 854000
to_sql ok 855000
to_sql ok 856000
to_sql ok 857000
to_sql ok 858000
to_sql ok 859000
to_sql ok 860000
to_sql ok 861000
to_sql ok 862000
to_sql ok 863000
to_sql ok 864000
to_sql ok 865000
to_sql ok 866000
to_sql ok 867000
to_sql ok 868000
to_sql ok 869000
to_sql ok 870000
to_sql ok 871000
to_sql ok 872000
to_sql ok 873000
to_sql ok 874000
to_sql ok 875000
to_sql ok 876000
to_sql ok 877000
to_sql ok 878000
to_sql ok 879000
to_sql ok 880000
to_sql ok 881000
to_sql ok 882000
to_sql ok 883000
to_sql ok 884000
to_sql ok 885000
to_sql ok 886000
to_sql ok 887000
to_sql ok 888000
to_sql ok 889000
to_sql ok 890000
to_sql ok 891000
to_sql ok 892000
to_sql ok 893000
to_sql ok 894000
to_sql ok 895000
to_sql ok 896000
to_sql ok 897000
to_sql ok 898000
to_sql ok 899000
to_sql ok 900000
to_sql ok 901000
to_sql ok 902000
to_sql ok 903000
to_sql ok 904000
to_sql ok 905000
to_sql ok 906000
to_sql ok 907000
to_sql ok 908000
to_sql ok 909000
to_sql ok 910000
to_sql ok 911000
to_sql ok 912000
to_sql ok 913000
to_sql ok 914000
to_sql ok 915000
to_sql ok 916000
to_sql ok 917000
to_sql ok 918000
to_sql ok 919000
to_sql ok 920000
to_sql ok 921000
to_sql ok 922000
to_sql ok 923000
to_sql ok 924000
to_sql ok 925000
to_sql ok 926000
to_sql ok 927000
to_sql ok 928000
to_sql ok 929000
to_sql ok 930000
to_sql ok 931000
to_sql ok 932000
to_sql ok 933000
to_sql ok 934000
to_sql ok 935000
to_sql ok 936000
to_sql ok 937000
to_sql ok 938000
to_sql ok 939000
to_sql ok 940000
to_sql ok 941000
to_sql ok 942000
to_sql ok 943000
to_sql ok 944000
to_sql ok 945000
to_sql ok 946000
to_sql ok 947000
to_sql ok 948000
to_sql ok 949000
to_sql ok 950000
to_sql ok 951000
to_sql ok 952000
to_sql ok 953000
to_sql ok 954000
to_sql ok 955000
to_sql ok 956000
to_sql ok 957000
to_sql ok 958000
to_sql ok 959000
to_sql ok 960000
to_sql ok 961000
to_sql ok 962000
to_sql ok 963000
to_sql ok 964000
to_sql ok 965000
to_sql ok 966000
to_sql ok 967000
to_sql ok 968000
to_sql ok 969000
to_sql ok 970000

to_sql ok 971000
to_sql ok 972000
to_sql ok 973000
to_sql ok 974000
to_sql ok 975000
to_sql ok 976000
to_sql ok 977000
to_sql ok 978000
to_sql ok 979000
to_sql ok 980000
to_sql ok 981000
to_sql ok 982000
to_sql ok 983000
to_sql ok 984000
to_sql ok 985000
to_sql ok 986000
to_sql ok 987000
to_sql ok 988000
to_sql ok 989000
to_sql ok 990000
to_sql ok 991000
to_sql ok 992000
to_sql ok 993000
to_sql ok 994000
to_sql ok 995000
to_sql ok 996000
to_sql ok 997000
to_sql ok 998000
to_sql ok 999000
to_sql ok 1000000
to_sql ok 1001000
to_sql ok 1002000
to_sql ok 1003000
to_sql ok 1004000
to_sql ok 1005000
to_sql ok 1006000
to_sql ok 1007000
to_sql ok 1008000
to_sql ok 1009000
to_sql ok 1010000
to_sql ok 1011000
to_sql ok 1012000
to_sql ok 1013000
to_sql ok 1014000
to_sql ok 1015000
to_sql ok 1016000
to_sql ok 1017000
to_sql ok 1018000
to_sql ok 1019000
to_sql ok 1020000
to_sql ok 1021000
to_sql ok 1022000
to_sql ok 1023000
to_sql ok 1024000
to_sql ok 1025000
to_sql ok 1026000
to_sql ok 1027000
to_sql ok 1028000
to_sql ok 1029000
to_sql ok 1030000
to_sql ok 1031000
to_sql ok 1032000
to_sql ok 1033000
to_sql ok 1034000
to_sql ok 1035000
to_sql ok 1036000
to_sql ok 1037000
to_sql ok 1038000
to_sql ok 1039000
to_sql ok 1040000
to_sql ok 1041000
to_sql ok 1042000
to_sql ok 1043000
to_sql ok 1044000
to_sql ok 1045000
to_sql ok 1046000
to_sql ok 1047000
to_sql ok 1048000
to_sql ok 1049000
to_sql ok 1050000
to_sql ok 1051000
to_sql ok 1052000
to_sql ok 1053000
to_sql ok 1054000
to_sql ok 1055000
to_sql ok 1056000
to_sql ok 1057000
to_sql ok 1058000
to_sql ok 1059000
to_sql ok 1060000
to_sql ok 1061000
to_sql ok 1062000
to_sql ok 1063000
to_sql ok 1064000
to_sql ok 1065000
to_sql ok 1066000
to_sql ok 1067000
to_sql ok 1068000
to_sql ok 1069000
to_sql ok 1070000
to_sql ok 1071000
to_sql ok 1072000
to_sql ok 1073000
to_sql ok 1074000
to_sql ok 1075000
to_sql ok 1076000
to_sql ok 1077000
to_sql ok 1078000
to_sql ok 1079000
to_sql ok 1080000
to_sql ok 1081000
to_sql ok 1082000
to_sql ok 1083000
to_sql ok 1084000
to_sql ok 1085000
to_sql ok 1086000
to_sql ok 1087000
to_sql ok 1088000
to_sql ok 1089000
to_sql ok 1090000
to_sql ok 1091000
to_sql ok 1092000
to_sql ok 1093000
to_sql ok 1094000
to_sql ok 1095000
to_sql ok 1096000
to_sql ok 1097000
to_sql ok 1098000
to_sql ok 1099000
to_sql ok 1100000
to_sql ok 1101000
to_sql ok 1102000
to_sql ok 1103000
to_sql ok 1104000
to_sql ok 1105000
to_sql ok 1106000
to_sql ok 1107000
to_sql ok 1108000
to_sql ok 1109000
to_sql ok 1110000
to_sql ok 1111000
to_sql ok 1112000
to_sql ok 1113000
to_sql ok 1114000
to_sql ok 1115000
to_sql ok 1116000
to_sql ok 1117000
to_sql ok 1118000
to_sql ok 1119000
to_sql ok 1120000
to_sql ok 1121000
to_sql ok 1122000
to_sql ok 1123000
to_sql ok 1124000
to_sql ok 1125000
to_sql ok 1126000
to_sql ok 1127000
to_sql ok 1128000
to_sql ok 1129000
to_sql ok 1130000
to_sql ok 1131000
to_sql ok 1132000
to_sql ok 1133000
to_sql ok 1134000
to_sql ok 1135000
to_sql ok 1136000
to_sql ok 1137000
to_sql ok 1138000
to_sql ok 1139000
to_sql ok 1140000
to_sql ok 1141000
to_sql ok 1142000
to_sql ok 1143000
to_sql ok 1144000
to_sql ok 1145000
to_sql ok 1146000
to_sql ok 1147000
to_sql ok 1148000
to_sql ok 1149000
to_sql ok 1150000
to_sql ok 1151000
to_sql ok 1152000
to_sql ok 1153000
to_sql ok 1154000
to_sql ok 1155000
to_sql ok 1156000
to_sql ok 1157000
to_sql ok 1158000
to_sql ok 1159000
to_sql ok 1160000
to_sql ok 1161000
to_sql ok 1162000
to_sql ok 1163000
to_sql ok 1164000
to_sql ok 1165000
to_sql ok 1166000
to_sql ok 1167000
to_sql ok 1168000
to_sql ok 1169000
to_sql ok 1170000
to_sql ok 1171000
to_sql ok 1172000
to_sql ok 1173000
to_sql ok 1174000
to_sql ok 1175000
to_sql ok 1176000
to_sql ok 1177000
to_sql ok 1178000
to_sql ok 1179000
to_sql ok 1180000
to_sql ok 1181000
to_sql ok 1182000
to_sql ok 1183000
to_sql ok 1184000
to_sql ok 1185000
to_sql ok 1186000
to_sql ok 1187000
to_sql ok 1188000
to_sql ok 1189000
to_sql ok 1190000
to_sql ok 1191000
to_sql ok 1192000
to_sql ok 1193000
to_sql ok 1194000
to_sql ok 1195000
to_sql ok 1196000
to_sql ok 1197000
to_sql ok 1198000
to_sql ok 1199000
to_sql ok 1200000
to_sql ok 1201000
to_sql ok 1202000
to_sql ok 1203000
to_sql ok 1204000
to_sql ok 1205000
to_sql ok 1206000
to_sql ok 1207000
to_sql ok 1208000
to_sql ok 1209000
to_sql ok 1210000
to_sql ok 1211000
to_sql ok 1212000
to_sql ok 1213000
to_sql ok 1214000
to_sql ok 1215000
to_sql ok 1216000
to_sql ok 1217000
to_sql ok 1218000
to_sql ok 1219000
to_sql ok 1220000
to_sql ok 1221000
to_sql ok 1222000
to_sql ok 1223000
to_sql ok 1224000
to_sql ok 1225000
to_sql ok 1226000
to_sql ok 1227000
to_sql ok 1228000
to_sql ok 1229000
to_sql ok 1230000
to_sql ok 1231000
to_sql ok 1232000
to_sql ok 1233000
to_sql ok 1234000
to_sql ok 1235000
to_sql ok 1236000
to_sql ok 1237000
to_sql ok 1238000
to_sql ok 1239000
to_sql ok 1240000
to_sql ok 1241000
to_sql ok 1242000
to_sql ok 1243000
to_sql ok 1244000
to_sql ok 1245000
to_sql ok 1246000
to_sql ok 1247000
to_sql ok 1248000
to_sql ok 1249000
to_sql ok 1250000
to_sql ok 1251000
to_sql ok 1252000
to_sql ok 1253000
to_sql ok 1254000
to_sql ok 1255000
to_sql ok 1256000
to_sql ok 1257000
to_sql ok 1258000
to_sql ok 1259000
to_sql ok 1260000
to_sql ok 1261000
to_sql ok 1262000
to_sql ok 1263000
to_sql ok 1264000
to_sql ok 1265000
to_sql ok 1266000
to_sql ok 1267000
to_sql ok 1268000
to_sql ok 1269000
to_sql ok 1270000
to_sql ok 1271000
to_sql ok 1272000
to_sql ok 1273000
to_sql ok 1274000
to_sql ok 1275000
to_sql ok 1276000
to_sql ok 1277000
to_sql ok 1278000
to_sql ok 1279000
to_sql ok 1280000
to_sql ok 1281000
to_sql ok 1282000
to_sql ok 1283000
to_sql ok 1284000
to_sql ok 1285000
to_sql ok 1286000
to_sql ok 1287000
to_sql ok 1288000
to_sql ok 1289000
to_sql ok 1290000
to_sql ok 1291000
to_sql ok 1292000
to_sql ok 1293000
to_sql ok 1294000
to_sql ok 1295000
to_sql ok 1296000
to_sql ok 1297000
to_sql ok 1298000
to_sql ok 1299000
to_sql ok 1300000
to_sql ok 1301000
to_sql ok 1302000
to_sql ok 1303000
to_sql ok 1304000
to_sql ok 1305000
to_sql ok 1306000
to_sql ok 1307000
to_sql ok 1308000
to_sql ok 1309000
to_sql ok 1310000
to_sql ok 1311000
to_sql ok 1312000
to_sql ok 1313000
to_sql ok 1314000
to_sql ok 1315000
to_sql ok 1316000
to_sql ok 1317000
to_sql ok 1318000
to_sql ok 1319000
to_sql ok 1320000
to_sql ok 1321000
to_sql ok 1322000
to_sql ok 1323000
to_sql ok 1324000
to_sql ok 1325000
to_sql ok 1326000
to_sql ok 1327000
to_sql ok 1328000
to_sql ok 1329000
to_sql ok 1330000
to_sql ok 1331000
to_sql ok 1332000
to_sql ok 1333000
to_sql ok 1334000
to_sql ok 1335000
to_sql ok 1336000
to_sql ok 1337000
to_sql ok 1338000
to_sql ok 1339000
to_sql ok 1340000
to_sql ok 1341000
to_sql ok 1342000
to_sql ok 1343000
to_sql ok 1344000
to_sql ok 1345000
to_sql ok 1346000
to_sql ok 1347000
to_sql ok 1348000
to_sql ok 1349000
to_sql ok 1350000
to_sql ok 1351000
to_sql ok 1352000
to_sql ok 1353000
to_sql ok 1354000
to_sql ok 1355000
to_sql ok 1356000
to_sql ok 1357000
to_sql ok 1358000
to_sql ok 1359000
to_sql ok 1360000
to_sql ok 1361000
to_sql ok 1362000
to_sql ok 1363000
to_sql ok 1364000
to_sql ok 1365000
to_sql ok 1366000
to_sql ok 1367000
to_sql ok 1368000
to_sql ok 1369000
to_sql ok 1370000
to_sql ok 1371000
to_sql ok 1372000
to_sql ok 1373000
to_sql ok 1374000
to_sql ok 1375000
to_sql ok 1376000
to_sql ok 1377000
to_sql ok 1378000
to_sql ok 1379000
to_sql ok 1380000
to_sql ok 1381000
to_sql ok 1382000
to_sql ok 1383000
to_sql ok 1384000
to_sql ok 1385000
to_sql ok 1386000
to_sql ok 1387000
to_sql ok 1388000
to_sql ok 1389000
to_sql ok 1390000
to_sql ok 1391000
to_sql ok 1392000
to_sql ok 1393000
to_sql ok 1394000
to_sql ok 1395000
to_sql ok 1396000
to_sql ok 1397000
to_sql ok 1398000
to_sql ok 1399000
to_sql ok 1400000
to_sql ok 1401000
to_sql ok 1402000
to_sql ok 1403000
to_sql ok 1404000
to_sql ok 1405000
to_sql ok 1406000
to_sql ok 1407000
to_sql ok 1408000
to_sql ok 1409000
to_sql ok 1410000
to_sql ok 1411000
to_sql ok 1412000
to_sql ok 1413000
to_sql ok 1414000
to_sql ok 1415000
to_sql ok 1416000
to_sql ok 1417000
to_sql ok 1418000
to_sql ok 1419000
to_sql ok 1420000
to_sql ok 1421000
to_sql ok 1422000
to_sql ok 1423000
to_sql ok 1424000
to_sql ok 1425000
to_sql ok 1426000
to_sql ok 1427000

to_sql ok 1428000
to_sql ok 1429000
to_sql ok 1430000
to_sql ok 1431000
to_sql ok 1432000
to_sql ok 1433000
to_sql ok 1434000
to_sql ok 1435000
to_sql ok 1436000
to_sql ok 1437000
to_sql ok 1438000
to_sql ok 1439000
to_sql ok 1440000
to_sql ok 1441000
to_sql ok 1442000
to_sql ok 1443000
to_sql ok 1444000
to_sql ok 1445000
to_sql ok 1446000
to_sql ok 1447000
to_sql ok 1448000
to_sql ok 1449000
to_sql ok 1450000
to_sql ok 1451000
to_sql ok 1452000
to_sql ok 1453000
to_sql ok 1454000
to_sql ok 1455000
to_sql ok 1456000
to_sql ok 1457000
to_sql ok 1458000
to_sql ok 1459000
to_sql ok 1460000
to_sql ok 1461000
to_sql ok 1462000
to_sql ok 1463000
to_sql ok 1464000
to_sql ok 1465000
to_sql ok 1466000
to_sql ok 1467000
to_sql ok 1468000
to_sql ok 1469000
to_sql ok 1470000
to_sql ok 1471000
to_sql ok 1472000
to_sql ok 1473000
to_sql ok 1474000
to_sql ok 1475000
to_sql ok 1476000
to_sql ok 1477000
to_sql ok 1478000
to_sql ok 1479000
to_sql ok 1480000
to_sql ok 1481000
to_sql ok 1482000
to_sql ok 1483000
to_sql ok 1484000
to_sql ok 1485000
to_sql ok 1486000
to_sql ok 1487000
to_sql ok 1488000
to_sql ok 1489000
to_sql ok 1490000
to_sql ok 1491000
to_sql ok 1492000
to_sql ok 1493000
to_sql ok 1494000
to_sql ok 1495000
to_sql ok 1496000
to_sql ok 1497000
to_sql ok 1498000
to_sql ok 1499000
to_sql ok 1500000
to_sql ok 1501000
to_sql ok 1502000
to_sql ok 1503000
to_sql ok 1504000
to_sql ok 1505000
to_sql ok 1506000
to_sql ok 1507000
to_sql ok 1508000
to_sql ok 1509000
to_sql ok 1510000
to_sql ok 1511000
to_sql ok 1512000
to_sql ok 1513000
to_sql ok 1514000
to_sql ok 1515000
to_sql ok 1516000
to_sql ok 1517000
to_sql ok 1518000
to_sql ok 1519000
to_sql ok 1520000
to_sql ok 1521000
to_sql ok 1522000
to_sql ok 1523000
to_sql ok 1524000
to_sql ok 1525000
to_sql ok 1526000
to_sql ok 1527000
to_sql ok 1528000
to_sql ok 1529000
to_sql ok 1530000
to_sql ok 1531000
to_sql ok 1532000
to_sql ok 1533000
to_sql ok 1534000
to_sql ok 1535000
to_sql ok 1536000
to_sql ok 1537000
to_sql ok 1538000
to_sql ok 1539000
to_sql ok 1540000
to_sql ok 1541000
to_sql ok 1542000
to_sql ok 1543000
to_sql ok 1544000
to_sql ok 1545000
to_sql ok 1546000
to_sql ok 1547000
to_sql ok 1548000
to_sql ok 1549000
to_sql ok 1550000
to_sql ok 1551000
to_sql ok 1552000
to_sql ok 1553000
to_sql ok 1554000
to_sql ok 1555000
to_sql ok 1556000
to_sql ok 1557000
to_sql ok 1558000
to_sql ok 1559000
to_sql ok 1560000
to_sql ok 1561000
to_sql ok 1562000
to_sql ok 1563000
to_sql ok 1564000
to_sql ok 1565000
to_sql ok 1566000
to_sql ok 1567000
to_sql ok 1568000
to_sql ok 1569000
to_sql ok 1570000
to_sql ok 1571000
to_sql ok 1572000
to_sql ok 1573000
to_sql ok 1574000
to_sql ok 1575000
to_sql ok 1576000
to_sql ok 1577000
to_sql ok 1578000
to_sql ok 1579000
to_sql ok 1580000
to_sql ok 1581000
to_sql ok 1582000
to_sql ok 1583000
to_sql ok 1584000
to_sql ok 1585000
to_sql ok 1586000
to_sql ok 1587000
to_sql ok 1588000
to_sql ok 1589000
to_sql ok 1590000
to_sql ok 1591000
to_sql ok 1592000
to_sql ok 1593000
to_sql ok 1594000
to_sql ok 1595000
to_sql ok 1596000
to_sql ok 1597000
to_sql ok 1598000
to_sql ok 1599000
to_sql ok 1600000
to_sql ok 1601000
to_sql ok 1602000
to_sql ok 1603000
to_sql ok 1604000
to_sql ok 1605000
to_sql ok 1606000
to_sql ok 1607000
to_sql ok 1608000
to_sql ok 1609000
to_sql ok 1610000
to_sql ok 1611000
to_sql ok 1612000
to_sql ok 1613000
to_sql ok 1614000
to_sql ok 1615000
to_sql ok 1616000
to_sql ok 1617000
to_sql ok 1618000
to_sql ok 1619000
to_sql ok 1620000
to_sql ok 1621000
to_sql ok 1622000
to_sql ok 1623000
to_sql ok 1624000
to_sql ok 1625000
to_sql ok 1626000
to_sql ok 1627000
to_sql ok 1628000
to_sql ok 1629000
to_sql ok 1630000
to_sql ok 1631000
to_sql ok 1632000
to_sql ok 1633000
to_sql ok 1634000
to_sql ok 1635000
to_sql ok 1636000
to_sql ok 1637000
to_sql ok 1638000
to_sql ok 1639000
to_sql ok 1640000
to_sql ok 1641000
to_sql ok 1642000
to_sql ok 1643000
to_sql ok 1644000
to_sql ok 1645000
to_sql ok 1646000
to_sql ok 1647000
to_sql ok 1648000
to_sql ok 1649000
to_sql ok 1650000
to_sql ok 1651000
to_sql ok 1652000
to_sql ok 1653000
to_sql ok 1654000
to_sql ok 1655000
to_sql ok 1656000
to_sql ok 1657000
to_sql ok 1658000
to_sql ok 1659000
to_sql ok 1660000
to_sql ok 1661000
to_sql ok 1662000
to_sql ok 1663000
to_sql ok 1664000
to_sql ok 1665000
to_sql ok 1666000
to_sql ok 1667000
to_sql ok 1668000
to_sql ok 1669000
to_sql ok 1670000
to_sql ok 1671000
to_sql ok 1672000
to_sql ok 1673000
to_sql ok 1674000
to_sql ok 1675000
to_sql ok 1676000
to_sql ok 1677000
to_sql ok 1678000
to_sql ok 1679000
to_sql ok 1680000
to_sql ok 1681000
to_sql ok 1682000
to_sql ok 1683000
to_sql ok 1684000
to_sql ok 1685000
to_sql ok 1686000
to_sql ok 1687000
to_sql ok 1688000
to_sql ok 1689000
to_sql ok 1690000
to_sql ok 1691000
to_sql ok 1692000
to_sql ok 1693000
to_sql ok 1694000
to_sql ok 1695000
to_sql ok 1696000
to_sql ok 1697000
to_sql ok 1698000
to_sql ok 1699000
to_sql ok 1700000
to_sql ok 1701000
to_sql ok 1702000
to_sql ok 1703000
to_sql ok 1704000
to_sql ok 1705000
to_sql ok 1706000
to_sql ok 1707000
to_sql ok 1708000
to_sql ok 1709000
to_sql ok 1710000
to_sql ok 1711000
to_sql ok 1712000
to_sql ok 1713000
to_sql ok 1714000
to_sql ok 1715000
to_sql ok 1716000
to_sql ok 1717000
to_sql ok 1718000
to_sql ok 1719000
to_sql ok 1720000
to_sql ok 1721000
to_sql ok 1722000
to_sql ok 1723000
to_sql ok 1724000
to_sql ok 1725000
to_sql ok 1726000
to_sql ok 1727000
to_sql ok 1728000
to_sql ok 1729000
to_sql ok 1730000
to_sql ok 1731000
to_sql ok 1732000
to_sql ok 1733000
to_sql ok 1734000
to_sql ok 1735000
to_sql ok 1736000
to_sql ok 1737000
to_sql ok 1738000
to_sql ok 1739000
to_sql ok 1740000
to_sql ok 1741000
to_sql ok 1742000
to_sql ok 1743000
to_sql ok 1744000
to_sql ok 1745000
to_sql ok 1746000
to_sql ok 1747000
to_sql ok 1748000
to_sql ok 1749000